@import "sass-rem";

.verification {
    width: 100%;
}

.header {
    padding: rem(6px 0 27px);
    display: flex;
    align-items: center;
}

.headerBtn {
    width: rem(34px);
    height: rem(34px);
    background: #3D3D3D;
    border-radius: rem(10px);
    position: relative;
    cursor: pointer;
    margin-right: rem(15px);
    font-size: 0;

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: rem(8px);
        height: rem(12px);
        background: url("../../assets/images/svg/profile-left.svg") no-repeat 50% 50% /contain;
        transition: .3s;
        opacity: .6;
        transform: translate(-50%, -50%);
    }

    &:hover {
        &:before {
            opacity: 1;
        }
    }
}

.headerTitle {
    font-weight: 500;
    font-size: rem(20px);
    line-height: rem(23px);
    color: #fff;
}

.content {
    background: #1B1B1B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rem(126px 50px 200px);
}

.contentTitle {
    font-weight: 500;
    font-size: rem(20px);
    line-height: rem(23px);        
    color: #fff;
    margin-bottom: rem(162px);
    text-align: center;
}

.label {
    display: block;
    width: 100%;
    max-width: rem(384px);
}

.labelPhone {
    margin-bottom: rem(15px);
}

.labelCode {
    margin-bottom: rem(34px);
}

.labelText {
    font-weight: 400;
    font-size: rem(14px);
    line-height: rem(16px);
    color: #fff;
    margin-bottom: rem(5px);
    padding-left: rem(10px);
}

.labelTextAccent {
    color: #D60019;
}

.input {
    display: inline-block;
    width: 100%;
    padding: rem(8px 13px);
    font-weight: 400;
    font-size: rem(14px);
    line-height: rem(16px);
    color: #fff;
    background: #2B2B2B;

    &::placeholder {
        color: #9E9E9E;
        opacity: 1;
    }
}

.btnNext {
    text-transform: uppercase;
    padding: rem(12px 18px);
    cursor: pointer;
    font-weight: 700;
    font-size: rem(14px);
    line-height: rem(16px);
    text-align: center;
    transition: .3s;
    border-radius: rem(3px);
    background: #FAFE13;
    color: #000;
    min-width: rem(247px);
}