@import 'sass-rem';

.menu {
  border-right: 1px solid #232323;
  border-bottom: 1px solid #232323;
  background: #000;
  width: fit-content;

  &__inner {
    padding: rem(26px 19px 0);
    max-height: 80vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: rem(5px);
    }

    &::-webkit-scrollbar-track {
      background-color: #28293e;
      border-radius: rem(5px);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: rem(5px);
      background: #8b8b97;
    }
  }

  &__list {
    align-items: center;
    padding: rem(26px 19px 90px);
    display: flex;
    flex-direction: column;
    gap: rem(20px);


  }


  &__showMore {
    background-color: #232323;
    height: rem(40px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #656565;
    transition: .2s ease-in-out;

    &:hover {
      color: #fff;
    }
  }
}

.item {

  color: #8A8A8A;
  text-align: center;
  font-size: rem(12px);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: rem(7px);
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
  position: relative;
  border-radius: rem(13px);

  &:hover {
    .item__icon {
      border-color: #F7FF13;
    }
  }

  &__badge {
    position: absolute;
    font-size: 0;
    right: rem(-4px);
    top: rem(-4px);
    width: rem(16px);
    height: rem(16px);
    background-color: #77222A;
    border-radius: 50%;

    &::after {
      width: rem(8px);
      height: rem(8px);
      background-color: #E71E30;
      position: absolute;
      content: '';
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__icon {
    position: relative;
    border-radius: rem(16px);
    border: rem(2px) solid transparent;
    background: #161616;
    padding: rem(7px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(48px);
    height: rem(48px);
    flex: 0 0 rem(48px);
    transition: border-color .2s ease-in-out;

    img,
    svg {
      width: rem(34px);
      height: rem(34px);
      flex: 0 0 rem(34px);
    }
    svg {
      width: rem(24px);
      height: rem(24px);
      flex: 0 0 rem(24px);
    }
  }
}

.itemCategory {
  margin-bottom: rem(20px);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: rem(7px);
  color: #FFF;
  font-size: rem(12px);
  font-weight: 500;
  position: relative;

  &__icon {
    border: rem(2px) solid transparent;
    border-radius: rem(16px);
    padding: rem(7px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(48px);
    height: rem(48px);
    flex: 0 0 rem(48px);
    position: relative;

    img,
    svg {
      width: rem(34px);
      height: rem(34px);
      flex: 0 0 rem(34px);
    }
  }

  svg {
    flex: 0 0 rem(24px);
    height: rem(24px);
    width: rem(24px);
  }
}

.itemCategoryActive {
  .item__icon {
    color: #fff;
    border-color: #F7FF13;
  }
}