@import "sass-rem";

.sportList {
  width: 100%;
  background: linear-gradient(180deg, #000000 0%, #121212 37.5%, #262626 100%);
  padding: rem(12.5px 20px);
  overflow-x: auto;
  @media(max-width: 1199.98px) {
    padding: rem(10px 20px);
  }

  &::-webkit-scrollbar {
    height: rem(5px);
  }

  &::-webkit-scrollbar-track {
    background-color: #28293e;
    border-radius: rem(5px);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: rem(5px);
    background: #8b8b97;
    cursor: pointer;
  }
}

.list {
  display: flex;
  align-items: center;
  gap: rem(40px);
  @media(max-width: 1199.98px) {
    gap: rem(20px);
  }
}

.item {
  display: block;
  flex: 1 0 rem(34px);
  min-height: rem(34px);
  @media(max-width: 1199.98px) {
    flex-basis: rem(48px);
  }

  img {
    width: 100%;
    height: 100%;
  }

  @media(max-width: 1200px) {
    &:nth-child(2) {
      display: none;
    }
  }
}

.link {
  color: #676767;
  min-height: rem(34px);
  display: inline-flex;
  flex-direction: column;
  font-size: rem(12px);
  align-items: center;
  position: relative;
  white-space: nowrap;
  gap: rem(10px);
  transition: .3s;
  @media(min-width: 1199.98px) {
    padding: 0;
    height: 100%;
    font-size: 0;
    flex-direction: row;
    gap: rem(7px);
    span {

      text-transform: uppercase;
      font-size: rem(18px);
      font-weight: 500;
    }
  }

  @media(max-width: 1199.98px) {
    display: flex;
    justify-content: center;
    font-weight: 500;
    text-align: center;
    width: calc(100% + 0.625rem);
    color: #8A8A8A;
    &.active {
      color: #fff;

      &:before {
        background-color: #000;
        border-color: #F7FF13;
        border-radius: rem(13px);
        opacity: 1;
      }
    }

  }


  &:hover {
    color: var(--accentColor);

  }

  &__live {

    position: absolute;
    font-size: 0;
    right: rem(-4px);
    top: rem(-4px);
    width: rem(16px);
    height: rem(16px);
    background-color: #77222A;
    border-radius: 50%;

    &::after {
      width: rem(8px);
      height: rem(8px);
      background-color: #E71E30;
      position: absolute;
      content: '';
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    @media(min-width: 1200px) {
      display: none;
    }
  }

  &__icon {
    width: rem(34px);
    height: rem(34px);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border: rem(2px) solid transparent;
    @media(max-width: 1199.98px) {
      border-radius: 1rem;
      background: #161616;
      width: rem(48px);
      height: rem(48px);
      padding: rem(7px);
    }
  }

  &__active {
    @media(min-width: 1200px) {
      color: var(--accentColor);
    }
    @media(max-width: 1199.98px) {
      color: #fff;
      .link {
        &__icon {

          border-color: var(--accentColor);
          background: #000;
        }
      }
      //border-radius: 13px;
    }
  }

  //
  //&.top {
  //  width: rem(24px);
  //  height: rem(24px);
  //
  //  &:before {
  //    opacity: .6;
  //    transition: .3s;
  //    background-image: url("../../assets/images/svg/cybersport/top.svg");
  //  }
  //
  //  &:hover {
  //    &:before {
  //      opacity: 1;
  //    }
  //  }
  //}
  //
  //&.bookmarks {
  //  width: auto;
  //  font-weight: 500;
  //  font-size: rem(18px);
  //  line-height: rem(21px);
  //  text-transform: uppercase;
  //  padding-left: rem(34px);
  //  transition: .3s;
  //
  //  &:before {
  //    width: rem(24px);
  //    height: rem(24px);
  //    left: 0;
  //    opacity: .6;
  //    transition: .3s;
  //    transform: translate(0, -50%);
  //    background-image: url("../../assets/images/svg/sports-list-bookmarks.svg");
  //  }
  //
  //  &:hover {
  //    &:before {
  //      opacity: 1;
  //    }
  //  }
  //}
  //
  //&.cs-go {
  //  &:before {
  //    background-image: url("../../assets/images/svg/cybersport/cs-go.svg");
  //  }
  //}
  //
  //&.dota-2 {
  //  &:before {
  //    background-image: url("../../assets/images/svg/cybersport/dota-2.svg");
  //  }
  //}
  //
  //&.overwatch {
  //  &:before {
  //    background-image: url("../../assets/images/svg/cybersport/overwatch.svg");
  //  }
  //}
  //
  //&.lol {
  //  &:before {
  //    background-image: url("../../assets/images/svg/cybersport/lol.svg");
  //  }
  //}
  //
  //&.valorant {
  //  &:before {
  //    background-image: url("../../assets/images/svg/cybersport/valorant.svg");
  //  }
  //}
  //
  //&.starcraft-1 {
  //  &:before {
  //    background-image: url("../../assets/images/svg/cybersport/starcraft-1.svg");
  //  }
  //}
  //
  //&.starcraft-2 {
  //  &:before {
  //    background-image: url("../../assets/images/svg/cybersport/starcraft-2.svg");
  //  }
  //}
  //
  //&.hearthstone {
  //  &:before {
  //    background-image: url("../../assets/images/svg/cybersport/hearthstone.svg");
  //  }
  //}
  //
  //&.call-of-duty {
  //  &:before {
  //    background-image: url("../../assets/images/svg/cybersport/call-of-duty.svg");
  //  }
  //}
  //
  //&.tf2 {
  //  &:before {
  //    background-image: url("../../assets/images/svg/cybersport/tf2.svg");
  //  }
  //}
  //
  //&.hos {
  //  &:before {
  //    background-image: url("../../assets/images/svg/cybersport/hos.svg");
  //  }
  //}
}
