@import "sass-rem";

.sportList {
  width: 100%;
  background: linear-gradient(180deg, #000000 0%, #121212 37.5%, #262626 100%);
  padding: rem(22px 20px);
  overflow-x: auto;
  @media(max-width: 767.98px) {
    padding: rem(10px 20px);
  }

  &::-webkit-scrollbar {
    height: rem(5px);
  }

  &::-webkit-scrollbar-track {
    background-color: #28293e;
    border-radius: rem(5px);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: rem(5px);
    background: #8b8b97;
    cursor: pointer;
  }
}

.list {
  display: flex;
  align-items: center;
  gap: rem(40px);
}

.item {
  display: block;
  @media(max-width: 1200px) {
    &:nth-child(1),
    &:nth-child(2) {
      display: none;
    }
  }
}

.link {
  width: rem(34px);
  height: rem(34px);
  color: #676767;
  display: flex;
  flex-direction: column;
  font-size: rem(12px);
  align-items: center;
  position: relative;
  white-space: nowrap;
  @media(min-width: 1199.98px) {
    padding: 0;
    font-size: 0;

  }
  @media(max-width: 1199.98px) {
    padding-top: rem(55px);
    display: flex;
    justify-content: center;
    font-weight: 500;
    text-align: center;
    width: calc(100% + 0.625rem);
    color: #8A8A8A;
    &.active {
      color: #fff;

      &:before {
        background-color: #000;
        border-color: #F7FF13;
        border-radius: rem(13px);
        opacity: 1;
      }
    }

  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(34px);
    height: rem(34px);
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    @media(max-width: 1200px) {
      background-size: rem(34px);
      top: 0;
      width: 3rem;
      left: 50%;
      height: 3rem;
      border-radius: 1rem;
      background-color: #161616;
      background-repeat: no-repeat;
      //background-size: contain;
      background-position: 50% 50%;
      opacity: 0.6;
      transition: 0.3s;
      border: 2px solid transparent;
      transform: translateX(-50%);
    }
  }

  &:hover {
    color: #fff;

    &:before {
      opacity: 1;
    }
  }

  &.top {
    width: rem(24px);
    height: rem(24px);

    &:before {
      opacity: .6;
      transition: .3s;
      background-image: url("../../assets/images/svg/cybersport/top.svg");
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }

  &.bookmarks {
    width: auto;
    font-weight: 500;
    font-size: rem(18px);
    line-height: rem(21px);
    text-transform: uppercase;
    padding-left: rem(34px);
    transition: .3s;

    &:before {
      width: rem(24px);
      height: rem(24px);
      left: 0;
      opacity: .6;
      transition: .3s;
      transform: translate(0, -50%);
      background-image: url("../../assets/images/svg/sports-list-bookmarks.svg");
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }

  &.cs-go {
    &:before {
      background-image: url("../../assets/images/svg/cybersport/cs-go.svg");
    }
  }

  &.dota-2 {
    &:before {
      background-image: url("../../assets/images/svg/cybersport/dota-2.svg");
    }
  }

  &.overwatch {
    &:before {
      background-image: url("../../assets/images/svg/cybersport/overwatch.svg");
    }
  }

  &.lol {
    &:before {
      background-image: url("../../assets/images/svg/cybersport/lol.svg");
    }
  }

  &.valorant {
    &:before {
      background-image: url("../../assets/images/svg/cybersport/valorant.svg");
    }
  }

  &.starcraft-1 {
    &:before {
      background-image: url("../../assets/images/svg/cybersport/starcraft-1.svg");
    }
  }

  &.starcraft-2 {
    &:before {
      background-image: url("../../assets/images/svg/cybersport/starcraft-2.svg");
    }
  }

  &.hearthstone {
    &:before {
      background-image: url("../../assets/images/svg/cybersport/hearthstone.svg");
    }
  }

  &.call-of-duty {
    &:before {
      background-image: url("../../assets/images/svg/cybersport/call-of-duty.svg");
    }
  }

  &.tf2 {
    &:before {
      background-image: url("../../assets/images/svg/cybersport/tf2.svg");
    }
  }

  &.hos {
    &:before {
      background-image: url("../../assets/images/svg/cybersport/hos.svg");
    }
  }
}
