@import "sass-rem";

.statisticsInPerson {
  width: 100%;
}

.title {
  font-weight: 400;
  font-size: rem(20px);
  line-height: 1.15;
  color: #000;
  padding: rem(13px 20px);
  background: #F7FF13;
  text-align: center;
  @media(max-width: 767.98px) {
    padding: rem(10px 15px);
  }
}
.mobileTable{
  margin-bottom: rem(24px);
}
.wrapper {
  padding: rem(25px);
  width: 100%;
  @media(max-width: 1199.98px) {
    padding: rem(25px 0);
  }
}

.mainWrapper {
  margin-bottom: rem(24px);
}

.infoWrapper {
  margin-bottom: rem(58px);
}

.nextWrapper {
  margin-bottom: rem(40px);
  @media(max-width: 767.98px) {
    margin-bottom: rem(24px);
  }
}

.scoreWrapper {
  margin-bottom: rem(40px);
  @media(max-width: 1199.98px) {
    margin-bottom: rem(34px);
  }
  @media(max-width: 767.98px) {
    margin-bottom: rem(24px);
  }
}

.posWrapper {
  margin-bottom: rem(40px);
}

.tableWrapper {
  max-width: rem(1346px);
  margin: 0 auto rem(40px);
}

.twoTableColumnsWrapper {
  max-width: rem(1346px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(10px);
  margin: 0 auto rem(40px);
}

.tableBottomWrapper {
  max-width: rem(1346px);
  margin: 0 auto;
}

.tabs {

  &__list {
    display: flex;
    background: rgba(247, 255, 19, 0.15);
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    //flex: 0 0 50%;
    font-weight: 400;
    font-size: rem(16px);
    line-height: 1.15;
    color: #fff;
    text-align: center;
    padding: rem(13px 20px 8px);
    background: transparent;
    position: relative;
    height: rem(40px);

    &:nth-child(1) {
      text-align: left;
    }

    &:nth-child(2) {
      text-align: right;
    }

    &::after {
      opacity: 0;
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 26px);
      bottom: 0;
      height: rem(6px);
      background: #1D7E3A;
      border-radius: 0.25rem;
      transition: 0.3s;
    }
  }

  &__btnActive {
    &::after {
      opacity: 1;
    }
  }
}