@import "sass-rem";

.choiceSport {
  width: 100%;
  padding: rem(25px 12px);
  @media(max-width: 767.98px) {

  }
}

.wrapper {
  width: 100%;
  max-width: rem(1250px);
  margin: 0 auto;
  padding-top: rem(25px);
}

.title {
  font-weight: 500;
  font-size: rem(20px);
  line-height: rem(32px);
  color: #fff;
  margin-bottom: rem(50px);
}

.list {
  display: flex;
  gap: rem(10px);
  flex-wrap: wrap;

  //justify-content: space-between;
  @media(max-width: 767.98px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.item {
  width: rem(130px);
  height: rem(120px);
  display: flex;
  align-items: center;
  justify-content: center;
  @media(max-width: 991.98px) {
    width: rem(103px);
    height: rem(98px);
  }
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: rem(130px);
  height: rem(130px);
  padding: rem(20px 10px 10px);

  &:hover {
    background: #F7FF13;

    .linkName {
      color: #000;
    }

    .linkIcon {
      color: #000;
    }
  }
}

.linkIcon {
  width: rem(40px);
  height: rem(40px);
  margin-bottom: rem(21px);
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  color: #fff;
  transition: .2s ease-in-out;
}


.linkName {
  text-align: center;
  font-weight: 400;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #fff;
}