@import "sass-rem";

.gameBanner {
	padding-bottom: rem(4px);
	margin-bottom: rem(15px);
	position: relative;

	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: rem(4px);
		background: radial-gradient(50% 50% at 50% 50%, #F7FF13 0%, rgba(0, 0, 0, 0) 100%);
	}
}

.top {
	display: flex;
}

.streamWrapper {
	width: rem(690px);
	height: rem(390px);
	position: relative;
}

.stream {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.streamPlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: rem(54px);
	height: rem(54px);
	border-radius: 50%;
	background: #F7FF13 url("../../assets/images/svg/game-banner-play.svg") no-repeat 50% 50%;
	background-size: rem(24px) rem(24px);
	transition: .3s;
	font-size: 0;
	cursor: pointer;

	&:hover {
		transform: translate(-50%, -50%) scale(1.05);
	}
}

.infoWrapper {
	flex-grow: 1;
	position: relative;
	&:before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		right: 0;
		background: radial-gradient(63.59% 100% at 50% 0%, #494B02 0%, rgba(69, 71, 13, 0.571) 41.15%, rgba(49, 50, 9, 0.34) 72.92%, rgba(79, 82, 10, 0) 100%);
		height: rem(256px);
		z-index: -1;
	}	
}

.info {
	display: flex;
	gap: rem(15px);
	padding: rem(62px 66px 35px);
}

.infoIconWrapper {
	width: rem(80px);
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: rem(10px);
}

.infoIcon {
	width: rem(80px);
	height: rem(80px);
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	position: relative;
}

.infoIconInner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: rem(50px);
	height: rem(50px);
	transform: translate(-50%, -50%);
}

.infoIconImg {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.infoContentWrapper {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.infoIconText {
	margin-left: rem(-10px);
	margin-right: rem(-10px);
	text-align: center;
	font-weight: 500;
	font-size: rem(18px);
	line-height: rem(21px);
	color: #fff;
}

.infoContentName {
	font-weight: 400;
	font-size: rem(14px);
	line-height: rem(16px);
	color: #8E8E8E;
	margin-bottom: rem(18px);
	margin-left: rem(-10px);
	margin-right: rem(-10px);
}

.infoContentTime {
	font-weight: 500;
	font-size: rem(16px);
	line-height: rem(19px);
	color: #fff;
	margin-bottom: rem(11px);
	padding: rem(5px 15px 3px);
	background: #E02020;
	border-radius: 20px;
	margin-bottom: rem(8px);
}

.infoContentDate {
	font-weight: 400;
	font-size: rem(14px);
	line-height: rem(16px);
	color: #8E8E8E;
	margin-bottom: rem(20px);
}

.infoContentScore {
	font-weight: 500;
	font-size: rem(20px);
	line-height: rem(23px);
	text-align: center;
	color: #fff;
}

.infoDates {
	display: flex;
	justify-content: center;
	gap: rem(20px);
	border-top: 2px solid  #2B2B2B;
	border-bottom: 2px solid  #2B2B2B;
	padding: rem(13px 20px);
	margin-bottom: rem(20px);
}

.infoDate {
	font-weight: 400;
	font-size: rem(14px);
	line-height: rem(17px);
	text-align: center;
	color: #7C7C7C;
	
	&:nth-child(2) {
		color: #FFFFFF;
	}
}

.infoDatesMore {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: rem(13px);
}

.infoDatesMoreRow {
	display: flex;
	justify-content: center;
	gap: rem(59px);
}
