.balance {
    height: 100px;
    background: radial-gradient(63.59% 100% at 50% 100%, #494B02 0%, rgba(69, 71, 13, 0.571) 41.15%, rgba(49, 50, 9, 0.34) 72.92%, rgba(79, 82, 10, 0) 100%);
    margin-bottom: rem(10px);
}
