.broadcast {
    background: #0D0D0D;
    width: 100%;
    padding: rem(15px);

    &__light-bg {
        background: #1A1A1A;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__header-title {
        font-weight: 500;
        font-size: rem(16px);
        line-height: rem(19px);
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }

    &__header-btn {
        display: inline-block;
        position: relative;
        font-size: 0;
        width: rem(16px);
        height: rem(20px);
        cursor: pointer;

        &:hover {
            &:before {
                opacity: 1;
            }
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-repeat: no-repeat;
            background-size: contain;
            transition: .3s;
            opacity: .6;
        }

        &--lock {
            &:before {
                width: rem(20px);
                height: rem(20px);
                background-image: url("../../images/svg/broadcast-lock.svg");
            }
        }

        &--arrow {
            &:before {
                width: rem(20px);
                height: rem(6px);
                background-image: url("../../images/svg/broadcast-arrow.svg");
            }
        }
    }

    &__list {
        margin-top: rem(24px);
        margin-bottom: rem(15px);
        text-align: center;
        font-weight: 400;
        font-size: rem(16px);
        line-height: rem(19px);
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: rem(15px);
        align-items: center;
    }

    &__item {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        max-width: 100%;

        &--live {
            padding-left: rem(22px);

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                display: block;
                width: rem(16px);
                height: rem(16px);
                border-radius: rem(8px);
                background: #E71E30;
                border: rem(4px) solid #77222A;
                transform: translateY(-50%);
            }
        }
    }

    &__btn-more {
        display: inline-block;
        width: 100%;
        background: #1A1A1A;
        border-radius: 2px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #909090;
        transition: .3s;
        text-transform: uppercase;
        padding: rem(11px);
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        &:hover {
            color: #fff;
        }
    }
}