.choice-sport {
	width: 100%;
	padding: rem(25px);

	&__wrapper {
		width: 100%;
		max-width: rem(1250px);
		margin: 0 auto;
		padding-top: rem(25px);
	}

	&__title {
		font-weight: 500;
		font-size: rem(20px);
		line-height: rem(32px);
		color: #fff;
		margin-bottom: rem(50px);
	}

	&__list {
		display: flex;
		gap: rem(10px);
		flex-wrap: wrap;
	}

	&__item {
		width: rem(130px);
		height: rem(120px);
	}

	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: rem(130px);
		height: rem(130px);
		padding: rem(20px 10px 10px);

		&:hover {
			background: #F7FF13;

			.choice-sport__link-name {
				color: #000;
			}

			.choice-sport__link-icon {
				&:before {
					opacity: 1;
				}
			}
		}
	}

	&__link-icon {
		width: rem(40px);
		height: rem(40px);
		margin-bottom: rem(21px);
		position: relative;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 50% 50%;
			opacity: 0;
		}

		&--football {
			background-image: url("../../images/svg/sports/football.svg");

			&:before {
				background-image: url("../../images/svg/sports/football-hover.svg");
			}
		}

		&--basketball {
			background-image: url("../../images/svg/sports/basketball.svg");

			&:before {
				background-image: url("../../images/svg/sports/basketball-hover.svg");
			}
		}

		&--hockey {
			background-image: url("../../images/svg/sports/hockey.svg");

			&:before {
				background-image: url("../../images/svg/sports/hockey-hover.svg");
			}
		}

		&--handball {
			background-image: url("../../images/svg/sports/handball.svg");

			&:before {
				background-image: url("../../images/svg/sports/handball-hover.svg");
			}
		}

		&--volleyball {
			background-image: url("../../images/svg/sports/volleyball.svg");

			&:before {
				background-image: url("../../images/svg/sports/volleyball-hover.svg");
			}
		}

		&--badminton {
			background-image: url("../../images/svg/sports/badminton.svg");

			&:before {
				background-image: url("../../images/svg/sports/badminton-hover.svg");
			}
		}

		&--baseball {
			background-image: url("../../images/svg/sports/baseball.svg");

			&:before {
				background-image: url("../../images/svg/sports/baseball-hover.svg");
			}
		}

		&--australian-football {
			background-image: url("../../images/svg/sports/australian-football.svg");

			&:before {
				background-image: url("../../images/svg/sports/australian-football-hover.svg");
			}
		}

		&--autosport {
			background-image: url("../../images/svg/sports/autosport.svg");

			&:before {
				background-image: url("../../images/svg/sports/autosport-hover.svg");
			}
		}

		&--american-football {
			background-image: url("../../images/svg/sports/american-football.svg");

			&:before {
				background-image: url("../../images/svg/sports/american-football-hover.svg");
			}
		}

		&--water-polo {
			background-image: url("../../images/svg/sports/water-polo.svg");

			&:before {
				background-image: url("../../images/svg/sports/water-polo-hover.svg");
			}
		}

		&--darts {
			background-image: url("../../images/svg/sports/darts.svg");

			&:before {
				background-image: url("../../images/svg/sports/darts-hover.svg");
			}
		}

		&--curling {
			background-image: url("../../images/svg/sports/curling.svg");

			&:before {
				background-image: url("../../images/svg/sports/curling-hover.svg");
			}
		}

		&--table-tennis {
			background-image: url("../../images/svg/sports/table-tennis.svg");

			&:before {
				background-image: url("../../images/svg/sports/table-tennis-hover.svg");
			}
		}

		&--pesapallo {
			background-image: url("../../images/svg/sports/pesapallo.svg");

			&:before {
				background-image: url("../../images/svg/sports/pesapallo-hover.svg");
			}
		}

		&--beach-soccer {
			background-image: url("../../images/svg/sports/beach-soccer.svg");

			&:before {
				background-image: url("../../images/svg/sports/beach-soccer-hover.svg");
			}
		}

		&--rugby {
			background-image: url("../../images/svg/sports/rugby.svg");

			&:before {
				background-image: url("../../images/svg/sports/rugby-hover.svg");
			}
		}

		&--squash {
			background-image: url("../../images/svg/sports/squash.svg");

			&:before {
				background-image: url("../../images/svg/sports/squash-hover.svg");
			}
		}

		&--snooker {
			background-image: url("../../images/svg/sports/snooker.svg");

			&:before {
				background-image: url("../../images/svg/sports/snooker-hover.svg");
			}
		}

		&--tennis {
			background-image: url("../../images/svg/sports/tennis.svg");

			&:before {
				background-image: url("../../images/svg/sports/tennis-hover.svg");
			}
		}

		&--floorball {
			background-image: url("../../images/svg/sports/floorball.svg");

			&:before {
				background-image: url("../../images/svg/sports/floorball-hover.svg");
			}
		}

		&--futsal {
			background-image: url("../../images/svg/sports/futsal.svg");

			&:before {
				background-image: url("../../images/svg/sports/futsal-hover.svg");
			}
		}

		&--field-hockey {
			background-image: url("../../images/svg/sports/field-hockey.svg");

			&:before {
				background-image: url("../../images/svg/sports/field-hockey-hover.svg");
			}
		}

		&--bandy {
			background-image: url("../../images/svg/sports/bandy.svg");

			&:before {
				background-image: url("../../images/svg/sports/bandy-hover.svg");
			}
		}
	}

	&__link-name {
		text-align: center;
		font-weight: 400;
		font-size: rem(16px);
		line-height: rem(19px);
		color: #fff;
	}
}