.deposit {
    padding-bottom: rem(52px);

    &__header {
        padding: rem(6px 0 27px);
        display: flex;
        align-items: center;
    }

    &__header-btn {
        width: rem(34px);
        height: rem(34px);
        background: #3D3D3D;
        border-radius: rem(10px);
        position: relative;
        cursor: pointer;
        margin-right: rem(15px);
        font-size: 0;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: rem(8px);
            height: rem(12px);
            background: url("../../images/svg/profile-left.svg") no-repeat 50% 50% /contain;
            transition: .3s;
            opacity: .6;
            transform: translate(-50%, -50%);
        }

        &:hover {
            &:before {
                opacity: 1;
            }
        }
    }

    &__header-title {
        font-weight: 500;
        font-size: rem(20px);
        line-height: rem(23px);
        color: #fff;
    }

    &__top-wrapper {
        background: #1B1B1B;
        padding: rem(15px);
        margin-bottom: rem(25px);
    }

    &__top {
        display: flex;
        align-items: center;
        background: #2B2B2B;
        padding: rem(13px 15px);
    }

    &__top-text {
        font-weight: 400;
        font-size: rem(14px);
        line-height: rem(16px);        
        color: #fff;
        margin-right: auto;
    }

    &__top-sum {
        font-weight: 500;
        font-size: rem(16px);
        line-height: rem(19px);
        color: #fff;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(30px);
    }

    &__item {
        width: 100%;
    }

    &__item-title {
        padding-left: rem(15px);
        margin-bottom: rem(8px);
        font-weight: 400;
        font-size: rem(15px);
        line-height: rem(18px);
        color: #757575;
    }

    &__sublist {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    &__subitem {
        width: 100%;
        background: #1B1B1B;
        padding: rem(20px 15px);
        display: flex;
        align-items: center;
    }

    &__subitem-info {
        margin-right: auto;
    }

    &__subitem-title {
        font-weight: 500;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        margin-bottom: rem(9px);
    }

    &__subitem-sum {
        font-weight: 400;
        font-size: rem(14px);
        line-height: rem(16px);
        color: #838383;
    }

    &__subitem-btn {
        width: rem(34px);
        height: rem(34px);
        background: #3D3D3D;
        border-radius: rem(10px);
        position: relative;
        cursor: pointer;
        margin-right: rem(15px);
        font-size: 0;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: rem(8px);
            height: rem(12px);
            background: url("../../images/svg/profile-right.svg") no-repeat 50% 50% /contain;
            transition: .3s;
            opacity: .6;
            transform: translate(-50%, -50%);
        }

        &:hover {
            &:before {
                opacity: 1;
            }
        }
    }
}
