.pos-chart {
    &__wrapper {
        padding: rem(40px 50px 0);
        margin-bottom: rem(40px);
    }

    &__content-wrapper {
        position: relative;
        height: rem(620px);
        margin-bottom: rem(80px);
    }

    &__content {
        width: rem(1780px) !important;
        height: rem(680px) !important;
        position: relative;
        z-index: 2;
    }

    &__content-bg {
        position: absolute;
        background: url("../../images/svg/pos-chart-bg.svg") no-repeat 50% 50%;
        background-size: rem(1765px) rem(620px);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }

    &__content-line {
        width: rem(1770px);
        height: 1px;
        background: url("../../images/svg/pos-chart-line.svg") no-repeat 0% 50%;
        background-size: rem(1770px) 1px;
        position: absolute;
    }

    &__content-numbers-bottom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: rem(-50px);
        font-weight: 700;
        font-size: rem(20px);
        line-height: rem(23px);
        color: #fff;
        display: flex;
        justify-content: space-between;
    }

    &__content-number-bottom {
        width: rem(15px);
    }

    &__content-numbers {
        position: absolute;
        width: rem(20px);
        height: calc(100% - rem(35px));
        top: rem(50px);
        font-weight: 700;
        font-size: rem(20px);
        line-height: rem(23px);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--one {
            left: rem(-30px);
        }

        &--two {
            right: rem(-40px);
        }
    }

    &__info {
        display: flex;
        gap: rem(100px);
    }

    &__info-list {
        display: flex;
        flex-direction: column;
        gap: rem(24px);
    }

    &__info-item {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        position: relative;

        &--playoff,
        &--qualification {
            padding-left: rem(15px);
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: rem(5px);
                height: rem(30px);
                transform: translateY(-50%);
            }
        }

        &--playoff {
            &:before {
                background: #1D7E3A;
            }
        }

        &--qualification {
            &:before {
                background: #D60019;
            }
        }

        &--team-one,
        &--team-two {
            padding-left: rem(24px);
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: rem(12px);
                height: rem(12px);
                transform: translateY(-50%);
                border-radius: 50%;
                border: 2px solid #F7FF13;
            }
        }

        &--team-one {
            &:before {
                background: #000;
            }
        }

        &--team-two {
            &:before {
                background: #F7FF13;
            }
        }
    }
}