.promotion {
    max-width: rem(1420px);
    margin: 0 auto;

    &__bannner {
        width: 100%;
        max-width: 100%;
        display: block;
        height: rem(552px);
    }

    &__info-wrapper {
        padding: rem(30px 150px);
        display: flex;
        gap: rem(20px);
        margin: 0 auto;
        background: #191919;
    }

    &__tasks {
        width: rem(450px);
        margin-right: rem(-100px);
        background: #0D0D0D;
        transform: translateY(rem(-110px));
        padding-bottom: rem(13px);
    }

    &__tasks-title {
        font-weight: 500;
        font-size: rem(24px);
        line-height: rem(28px);        
        color: #fff;
        padding: rem(28px 30px 24px);
        background: linear-gradient(90deg, #272727 0%, #000000 100%);
    }

    &__tasks-name {
        padding: rem(27px 30px 22px);
        font-weight: 400;
        font-size: rem(14px);
        line-height: rem(16px);
        color: #848484;
    }

    &__tasks-list {
        display: flex;
        flex-direction: column;
        padding: rem(0 15px 10px);
        gap: 1px;
    }

    &__tasks-item {
        background: #222222;
        padding: rem(15px);
        display: flex;

        &:first-child {
            border-radius: rem(8px 8px 0 0);
        }

        &:last-child {
            border-radius: rem(0 0 8px 8px);
        }
    }

    &__tasks-btn {
        display: block;
        width: 100%;
        max-width: calc(100% - rem(30px));
        margin: 0 auto;
        font-weight: 700;
        font-size: rem(18px);
        line-height: rem(21px);        
        text-align: center;
        color: #000;
        text-transform: uppercase;
        background: #F8FF13;
        border-radius: rem(6px);
        padding: rem(15px 20px);
        cursor: pointer;

        &--disable {
            cursor: default;
            color: #343434;
            background: #171717;
        }
    }

    &__info {
        max-width: rem(700px);
        width: 100%;
    }

    &__info-top {
        max-width: rem(640px);
    }

    &__info-top-dates {
        margin-bottom: rem(25px);
        font-weight: 400;
        font-size: rem(13px);
        line-height: rem(15px);
        color: #9C9C9C;
        padding-left: rem(28px);
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 35%;
            left: 0;
            width: rem(18px);
            height: rem(18px);
            background: url("../../images/svg/promotions-time.svg") no-repeat 50% 50% /contain;
            transform: translateY(-50%);
        }
    }

    &__info-top-title {
        font-weight: 500;
        font-size: rem(28px);
        line-height: rem(33px);
        color: #fff;
        margin-bottom: rem(15px);
    }

    &__info-top-content {
        margin-bottom: rem(28px);
    }

    &__info-top-text {
        font-weight: 400;
        font-size: rem(16px);
        line-height: rem(28px);
        color: #fff;
    }

    &__info-top-link {
        color: #F7FF13;
    }

    &__info-about-text {
        font-weight: 400;
        font-size: rem(16px);
        line-height: rem(28px);
        color: #fff;
        margin-bottom: rem(15px);
    }

    &__info-about-list {
        display: flex;
        gap: rem(2px);
    }

    &__info-about-item {
        padding: rem(10px 10px 20px);
        width: 33%;
        background: #222222;

        &:first-child  {
            border-radius: rem(8px 0 0 8px);
        }

        &:last-child  {
            border-radius: rem(0 8px 8px 0);
        }
    }

    &__info-about-item-img {
        display: block;
        width: rem(90px);
        height: rem(90px);
        margin-bottom: rem(100px);
    }
}
