.sitemap {
    padding: rem(30px 40px);

    &__item {
        margin-bottom: rem(20px);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        font-weight: 700;
        font-size: rem(22px);
        line-height: rem(25px);
        color: #fff;
    }
}