.sports {
    max-width: rem(1442px);

    &__list {
        display: flex;
        align-items: center;
        gap: rem(40px);
        background: linear-gradient(180deg, #000000 0%, #121212 37.5%, #262626 100%);
        padding: rem(22px 20px);
        margin-bottom: 2px;
    }

    &__item {
        &:first-child {
            .sports__item-link {
                padding: 0;
                font-size: 0;
                width: rem(24px);
                &:hover {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__item-link {
        font-weight: 500;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #676767;
        text-transform: uppercase;
        padding-left: rem(34px);
        position: relative;
        transition: .3s;
        display: flex;
        align-items: center;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: rem(24px);
            height: rem(24px);
            transform: translateY(-50%);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            opacity: .6;
            transition: .3s;
        }

        &:hover {
            color: #fff;
            &:before {
                opacity: 1;
            }
        }

        &--top {
            &:before {
                background-image: url("../../images/svg/sports-list-top.svg");
            }
        }

        &--bookmarks {
            &:before {
                background-image: url("../../images/svg/sports-list-bookmarks.svg");
            }
        }

        &--soccer {
            &:before {
                background-image: url("../../images/svg/sports-list-soccer.svg");
            }
        }

        &--hockey {
            &:before {
                background-image: url("../../images/svg/sports-list-hockey.svg");
            }
        }

        &--basketball {
            &:before {
                background-image: url("../../images/svg/sports-list-basketball.svg");
            }
        }

        &--tennis {
            &:before {
                background-image: url("../../images/svg/sports-list-tennis.svg"); 
            }
        }

        &--regby {
            &:before {
                background-image: url("../../images/svg/sports-list-regby.svg");  
            }
        }

        &--volleyball {
            &:before {
                background-image: url("../../images/svg/sports-list-volleyball.svg");  
            }
        }

        &--mma {
            &:before {
                background-image: url("../../images/svg/sports-list-mma.svg");
            }
        }
    }

    &__best {
        padding: rem(20px 15px);
        background: #262626;
        position: relative;
        margin-bottom: 2px;

        .swiper-button-next,
        .swiper-button-prev {
            opacity: .3;
            transition: .3s;
            top: 0;
            margin: 0;
            &:after {
                display: none;
            }

            &:hover {
                opacity: 1;
            }
        }

        .swiper-button-next {
            position: absolute;
            right: rem(20px);
            width: rem(30px);
            height: rem(40px);
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: rem(8px);
                height: rem(14px);
                transform: translate(-50%, -50%);
                background: url("../../images/svg/sports-next.svg") no-repeat 50% 50% /contain;
                background-size: rem(8px) rem(14px);
            }
        }

        .swiper-button-prev {
            position: absolute;
            left: auto;
            right: rem(60px);
            width: rem(30px);
            height: rem(40px);
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: rem(8px);
                height: rem(14px);
                transform: translate(-50%, -50%);
                background: url("../../images/svg/sports-prev.svg") no-repeat 50% 50% /contain;
            }
        }
    }

    &__best-title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        margin-bottom: rem(-30px);
    }

    &__best-list {
        display: flex;
        gap: rem(10px);
        padding-top: rem(60px);
        margin-right: rem(-15px);
        position: relative;
    }

    &__best-item {
        width: rem(198px);
        padding-right: rem(10px);
    }

    &__best-link {
        display: flex;
        flex-direction: column;
        min-width: rem(188px);
        width: rem(188px);
        background: #000;
        border-radius: 12px;
        padding: rem(10px);
        color: #fff;

        &--soccet {
            background: #1D7E3A;
        }

        &--hockey {
            background: #0E7AFF;
        }

        &--basketball {
            background: #EA7E29;;
        }

        &--tennis {
            background: #C9BF08;
        }
    }

    &__best-link-title {
        font-size: rem(18px);
        line-height: rem(21px);
        margin-bottom: rem(21px);
    }

    &__best-link-title-one {
        display: inline-block;
        width: 100%;
        margin-bottom: rem(6px);
    }

    &__best-link-live {
        text-transform: uppercase;
        font-weight: 700;
        font-size: rem(14px);
        line-height: rem(16px);
        letter-spacing: 0.04em;
        color: #FFFFFF;
        padding-left: rem(30px);
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: rem(24px);
            height: rem(24px);
            transform: translateY(-50%);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            opacity: .6;
            transition: .3s;
            background-image: url("../../images/svg/sports-best-live.svg");
        }
    }

    &__games-list {
        margin-bottom: 2px;
    }

    &__games-item {
        margin-bottom: rem(10px);
    }

    &__games-top {
        display: flex;
        align-items: center;
        position: relative;
        background: #262626;
        padding-right: rem(84px);
        margin-bottom: 1px;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: rem(3px);
            background: #fff;
        }

        &--soccer {
            &:before {
                background: #1D7E3A;
            }
        }
    
        &--hockey {
            &:before {
                background: #0E7AFF;
            }
        }
    
        &--basketball {
            &:before {
                background: #EA7E29;
            }
        }
    
        &--tennis {
            &:before {
                background: #C9BF08;
            }
        }
    }

    &__games-title {
        font-weight: 500;
        font-size: rem(18px);
        line-height: rem(21px);
        padding: rem(14px 25px 13px);
        color: #fff;
        position: relative;
        text-transform: uppercase;
        margin-right: auto;
    }

    &__games-info-wrapper {
        display: flex;
        font-weight: 400;
        font-size: rem(14px);
        line-height: rem(16px);
        color: #7E7E7E;
        text-transform: uppercase;
    }

    &__games-info {
        width: rem(48px);
        max-width: rem(48px);
        min-width: rem(48px);
        overflow: hidden;
        text-align: center;
        text-align: center;
        margin-right: 2px;
        text-transform: uppercase;

        &:nth-child(3),
        &:nth-child(6),
        &:nth-child(8) {
            margin-right: rem(20px);
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__games-table {
        margin-bottom: 1px;
    }

    &__game-row {
        margin-bottom: 1px;
        background: #151515;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__game-row-name-wrapper {
        padding: rem(16px 0 17px);
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            background: #262626;
            transform: translateY(-50%);
            z-index: -1;
        }
    }

    &__game-row-name {
        font-weight: 400;
        font-size: rem(16px);
        line-height: rem(19px);
        color: #939393;
        background: #151515;
        padding: rem(0 16px 0 25px);
    }

    &__game-row-wrapper {
        padding: rem(0 36px 23px 27px);
        display: flex;
    }

    &__game-row-date-time {
        display: flex;
        flex-direction: column;
        gap: rem(7px);
        margin-right: rem(20px);
        width: rem(45px);
        min-width: rem(45px);
        max-width: rem(45px);
    }

    &__game-row-time {
        font-weight: 500;
        font-size: rem(16px);
        line-height: rem(19px);
        color: #FFFFFF;
    }

    &__game-row-date {
        font-weight: 400;
        font-size: rem(14px);
        line-height: rem(16px);
        color: #777777;
    }

    &__game-row-names {
        display: flex;
        flex-direction: column;
        gap: rem(5px);
        margin-right: auto;
    }

    &__game-row-name {
        font-weight: 400;
        font-size: rem(16px);
        line-height: rem(19px);
        color: #FFFFFF;
    }

    &__games-row-numbers {
        display: flex;
        font-weight: 700;
        font-size: rem(16px);
        line-height: rem(19px);
        color: #fff;
    }

    &__games-row-number {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: rem(48px);
        min-width: rem(48px);
        max-width: rem(48px);
        height: 38px;
        background: #262626;
        margin-right: 2px;
        cursor: pointer;
        position: relative;

        &:nth-child(3),
        &:nth-child(6),
        &:nth-child(8) {
            margin-right: rem(20px);
        }

        &:last-child {
            margin-right: 0;
            font-weight: 400;
            font-size: rem(16px);
            line-height: rem(19px);
            text-align: right;
            justify-content: flex-end;
            color: #9E9E9E;
            background: transparent;
            pointer-events: none;
        }

        &--disable {
            color: #A7A7A7;
            pointer-events: none;
            background: #1F1F1F;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                background: #2E2E2E;
                width: 1px;
            }
        }

        &--up {
            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                top: rem(2px);
                left: rem(2px);
                border-top: rem(5px) solid #52B205;
                border-left: rem(5px) solid #52B205;
                border-right: rem(5px) solid transparent;
                border-bottom: rem(5px) solid transparent;
            }
        }

        &--down {
            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                bottom: rem(2px);
                right: rem(2px);
                border-top: rem(5px) solid transparent;
                border-left: rem(5px) solid transparent;
                border-right: rem(5px) solid #D60019;
                border-bottom: rem(5px) solid #D60019;
            }
        } 
    }

    &__games-btn-more {
        display: inline-block;
        width: 100%;
        background: #151515;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 400;
        font-size: rem(16px);
        line-height: rem(19px);
        color: #7A7A7A;
        cursor: pointer;
        transition: .3s;
        padding: rem(13px 10px 14px);

        &:hover {
            color: #fff;
        }
    }
}
