.statistics-six {
	width: 100%;
	padding: rem(25px);

	&__wrapper {
		width: 100%;
	}

	&__title {
		padding: rem(14px 20px 13px);
		background: rgba(247, 255, 19, 0.15);
		font-weight: 500;
		font-size: rem(20px);
		line-height: rem(23px);
		color: #fff;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(20px);
		padding: rem(19px 20px 14px);
		background: #1D7E3A;
		color: #fff;
		margin-bottom: rem(24px);
	}

	&__info-name {
		width: rem(320px);
		font-weight: 500;
		font-size: rem(24px);
		line-height: rem(28px);
		position: relative;
		cursor: pointer;
		padding: rem(5px);

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			width: rem(22px);
			height: rem(18px);
			background: url("../../images/svg/statistics-name-arrow.svg") no-repeat 50% 50% /contain;
			transform: translateY(-50%);
		}

		&:first-child {
			text-align: right;
			padding-right: rem(35px);
			
			&:before {
				right: 0;
			}
		}

		&:last-child {
			padding-left: rem(35px);

			&:before {
				left: 0;
			}
		}
	}

	&__info-date-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: rem(180px);
		gap: rem(5px);
	}

	&__info-date {
		font-weight: 400;
		font-size: rem(24px);
		line-height: rem(28px);
	}

	&__info-btn-date-update {
		width: rem(50px);
		height: rem(34px);
		background: url("../../images/svg/statistics-date-update.svg") no-repeat 50% 50%;
		background-size: rem(24px 24px);
		font-size: 0;
		cursor: pointer;
	}

	&__name-accent {
		font-weight: 400;
		font-size: rem(20px);
		line-height: rem(23px);
		color: #000;
		padding: rem(13px 20px);
		background: #F7FF13;
		text-align: center;
	}

	&__table {
		margin-bottom: rem(58px);
	}

	&__table-header {
		padding: rem(17px 20px);
		display: flex;
		gap: rem(20px);
		background: rgba(255, 255, 255, 0.14);
		color: #fff;
		border-bottom: 2px solid rgba(255, 255, 255, 0.3);
	}

	&__table-header-name {
		font-weight: 400;
		font-size: rem(20px);
		line-height: rem(23px);
		text-align: center;

		&:nth-child(1) {
			width: rem(115px);
		}

		&:nth-child(2) {
			width: rem(400px);
		}
		&:nth-child(3) {
			width: rem(720px);
		}
		&:nth-child(4) {
			width: rem(525px);
		}
	}

	&__table-content {
		padding: rem(20px 20px 45px);
		background: #121212;
		display: flex;
		gap: rem(20px);
		position: relative;
	}

	&__table-content-names {
		position: absolute;
		top: rem(10px);
		right: rem(20px);
		width: auto;
		display: flex;
		justify-content: space-between;
		text-align: center;
		gap: rem(17px);
	}

	&__table-content-name {
		font-size: rem(20px);
		line-height: rem(23px);
		font-weight: 500;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;

		&:nth-child(1),
		&:nth-child(3) {
			width: rem(210px);
		}

		&:nth-child(2) {
			width: rem(80px);
		}
	}

	&__table-col-one {
		width: rem(115px);

		&--right {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			padding-top: rem(43px);
		}
	}

	&__table-col-one-date {
		font-weight: 400;
		font-size: rem(20px);
		line-height: rem(23px);
		color: #fff;
		text-align: center;
		margin-bottom: rem(20px);
	}

	&__table-col-one-name {
		font-weight: 500;
		font-size: rem(20px);
		line-height: rem(23px);
		text-transform: uppercase;
		color: #fff;
		margin-bottom: rem(10px);
	}

	&__table-col-one-mini-table {
		position: relative;
		width: rem(80px);
		height: rem(37px);
		background: url("../../images/svg/statistics-mini-table-bg.svg") no-repeat 0% 50%;
		background-size: rem(20px 37px);
		margin-bottom: rem(10px);
		&--right {
			background-position: 100% 50%;
		}
	}

	&__table-col-one-mini-table-num {
		position: absolute;
		left: 0;
		width: 100%;
		transform: translateY(50%);
		font-weight: 500;
		font-size: rem(14px);
		line-height: rem(16px);
		text-transform: uppercase;
		color: #F7FF13;
		padding-left: rem(46px);

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: rem(42px);
			height: rem(1px);
			background: url("../../images/svg/statistics-mini-table-line.svg") no-repeat 50% 50% /cover;
		}

		&--right {
			left: auto;
			right: 0;
			padding-left: 0;
			padding-right: rem(46px);
			text-align: right;

			&:before {
				left: auto;
				right: 0;
			}
		}
	}

	&__table-col-one-info {
		font-size: rem(16px);
		line-height: rem(19px);
		text-transform: uppercase;
		color: #fff;
	}

	&__table-col-two {
		width: rem(400px);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__table-col-two-title {
		font-weight: 500;
		font-size: rem(20px);
		line-height: rem(23px);
		color: #fff;
		margin-bottom: rem(20px);
		height: rem(23px);
	}

	&__table-col-two-info-wrapper,
	&__table-col-three-info-wrapper {
		position: relative;
		width: rem(200px);
		height: rem(200px);
		margin-bottom: rem(80px);
	}

	&__table-col-three-info-wrapper {
		transform: scale(1.1);
	}

	&__table-col-two-info-content,
	&__table-col-three-info-content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: rem(10px);
		z-index: 2;
		color: #F7FF13;
		padding-bottom: rem(15px);
	}

	&__table-col-two-info-content-num,
	&__table-col-three-info-content-num  {
		font-weight: 400;
		font-size: rem(48px);
		line-height: rem(56px);
		text-decoration-line: underline;
	}

	&__table-col-two-info-content-text,
	&__table-col-three-info-content-text {
		font-weight: 400;
		font-size: rem(20px);
		line-height: rem(23px);
	}

	&__table-col-two-info-chart,
	&__table-col-two-info-circle-one
	&__table-col-two-info-circle-two,
	&__table-col-three-info-chart,
	&__table-col-three-info-circle-one
	&__table-col-three-info-circle-two  {
		position: absolute;
		top: rem(-8px);
		left: rem(-8px);
		right: rem(-8px);
		bottom: rem(-8px);
		z-index: 1;
	}

	&__table-col-two-info-circle-one {
		stroke: #fff;
  		fill: none;
  		stroke-width: rem(.5px);
	}

	&__table-col-three-info-circle-one {
		stroke: #1D7E3A;
  		fill: none;
  		stroke-width: rem(2px);
	}

	&__table-col-two-info-circle-two {
		stroke: #1D7E3A;
  		fill: none;
  		stroke-width: rem(2px);
	}

	&__table-col-three-info-circle-two {
		stroke: #52B205;
  		fill: none;
  		stroke-width: rem(2px);
	}

	&__table-col-three-info-circle-two-more {
		stroke: #121212;
  		fill: none;
  		stroke-width: rem(3px);
		transform-origin: 50% 50%;
		transform: rotate(-3.34deg);
	}

	&__table-col-two-name {
		font-weight: 500;
		font-size: rem(32px);
		line-height: rem(38px);
		text-transform: uppercase;
		color: #fff;
		margin-bottom: rem(10px);
	}

	&__table-col-two-forms {
		display: flex;
        gap: rem(10px);
        overflow: hidden;
        padding-left: rem(15px);
        background: url(../../images/svg/statistics-arrow.svg) no-repeat 0% 50%;
        background-size: rem(300px) rem(16px);
	}

	&__table-col-two-form {
        width: rem(30px);
        height: rem(30px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 2;

        &--win {
            color: #000;
            background: #F7FF13;
        }

        &--loss {
            color: #fff;
            background: #1D7E3A;
        }
    }

	&__table-col-three {
		display: flex;
		gap: rem(20px);
		width: rem(720px);
	}

	&__table-col-three-about {
		padding-top: rem(60px);
		width: rem(200px);
	}

	&__table-col-three-about-win {
		width: rem(180px);
		padding: rem(20px 40px);
		text-align: center;
		font-weight: 400;
		font-size: rem(24px);
		line-height: rem(28px);
		color: #111;
		background: #F7FF13;
		margin-bottom: rem(107px);
	}

	&__table-col-three-about-list {
		display: flex;
		flex-direction: column;
		gap: rem(24px);
		color: #fff;
	}

	&__table-col-three-about-item {
		width: 100%;
	}

	&__table-col-three-about-item-text {
		font-weight: 400;
		font-size: rem(20px);
		line-height: rem(23px);
		margin-bottom: rem(10px);
	}

	&__table-col-three-about-item-count {
		font-weight: 500;
		font-size: rem(20px);
		line-height: rem(23px);
	}

	&__table-col-three-info {
		width: rem(280px);
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: rem(60px);
	}

	&__table-col-three-info-text {
		font-weight: 500;
		font-size: rem(20px);
		line-height: rem(23px);
		color: #fff;
		text-align: center;
	}

	&__table-one {
		margin-bottom: rem(40px);
	}

	&__table-one-header-row {
		display: flex;
		background: rgba(255, 255, 255, .14);
		border-bottom: 2px solid rgba(255, 255, 255, 0.3);
		padding: rem(0 20px);
	}

	&__table-one-header-cell {
		padding: rem(18px 10px 19px);
		font-weight: 400;
		font-size: rem(20px);
		line-height: rem(23px);
		color: #fff;

		&:nth-child(1) {
			padding-left: rem(45px);
			width: rem(340px);
		}

		&:nth-child(2) {
			width: rem(200px);
		}

		&:nth-child(3) {
			text-align: center;
			width: rem(950px);
		}

		&:nth-child(4) {
			width: rem(330px);
			padding-right: 0;
		}
	}

	&__table-one-row {
		display: flex;
		background: rgba(255, 255, 255, .07);
		padding: rem(0 20px);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}

	&__table-one-cell {
		padding: rem(18px 10px 17px);
		font-weight: 400;
		font-size: rem(20px);
		line-height: rem(23px);
		color: #fff;

		&:nth-child(1) {
			padding-left: rem(45px);
			width: rem(340px);
		}
	
		&:nth-child(2) {
			width: rem(200px);
		}
	
		&:nth-child(3) {
			display: flex;
			gap: rem(20px);
			width: rem(950px);
		}
	
		&:nth-child(4) {
			width: rem(330px);
			padding-right: 0;
		}
	}

	&__table-one-cell-text {
		
		&:nth-child(1) {
			width: rem(280px);
		}

		&:nth-child(2) {
			flex-grow: 1;
			text-align: center;
		}

		&:nth-child(3) {
			width: rem(280px);
		}

		&--accent {
			color: #F7FF13;
		}
	}

	&__table-one-cell-text-small {
		&--accent {
			color: #F7FF13;
		}
	}

	&__score {
		margin-bottom: rem(40px);
	}

	&__score-title {
		font-weight: 500;
		font-size: rem(48px);
		line-height: rem(56px);
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: rem(24px);
	}

	&__score-wrapper {
		position: relative;
	}

	&__score-colors {
		display: flex;
	}

	&__score-color {
		height: rem(50px);

		&:nth-child(1) {
			background: #1D7E3A;
		}

		&:nth-child(2) {
			background: #52B205;
		}
	}

	&__score-percent {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		padding: rem(0 60px);
		justify-content: space-between;
	}

	&__score-percent-text {
		font-weight: 500;
		font-size: rem(24px);
		line-height: rem(28px);
		text-align: center;
		text-transform: uppercase;
		color: #fff;
	}

	&__pos {
		margin-bottom: rem(42px);
	}
}
