.statistics-two {
    width: 100%;
    padding: rem(26px 0);

    &__wrapper {
        max-width: rem(1376px);
        padding: rem(0 15px 50px);
        margin: 0 auto;
    }

    &__title {
        text-align: center;
        background: rgba(247, 255, 19, 0.15);
        font-weight: 500;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        padding: rem(15px 10px 14px);
    }

    &__filter-wrapper {
        background: #F7FF13;
        display: flex;
        justify-content: center;
        gap: rem(20px);
    }

    &__filter-btn {
        font-weight: 400;
        font-size: rem(20px);
        line-height: rem(23px);      
        color: #0B0B0B;
        padding: rem(15px 150px);
        position: relative;
        cursor: pointer;

        &:before {
            opacity: 0;
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: rem(6px);
            background: #1D7E3A;
            border-radius: rem(4px);
            transition: .3s;
        }

        &:hover,
        &--active {
            &:before {
                opacity: 1;
            }
        }
    }

    &__table-one {
        margin-bottom: rem(24px);
        background: linear-gradient(180deg, #0B0B0B 0%, #333333 100%);
    }

    &__table-one-header {
        display: flex;
        background: rgba(255, 255, 255, 0.14);
        padding: rem(0 22px);
    }

    &__table-one-header-cell,
    &__table-one-cell {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        padding: rem(19px 5px 18px);

        &:nth-child(1) { width: rem(115px);}
        &:nth-child(2) { flex-grow: 1; border-right: 1px solid rgba(255, 255, 255, 0.3);}
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) { width: rem(55px); text-align: center;}
        &:nth-child(6),
        &:nth-child(7) { width: rem(100px);}
        &:nth-child(8) { width: rem(210px);}
        &:nth-child(9) { width: rem(60px);}
        &:nth-child(10) { width: rem(50px);}
        &:nth-child(11) { width: rem(220px);}

        &--number {
            position: relative;
            padding-left: rem(20px);
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: rem(5px);
                height: rem(30px);
                transform: translateY(-50%);
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: rem(55px);
                width: rem(18px);
                height: rem(18px);
                transform: translateY(-50%);
                background: url("../../images/svg/statistics-zero.svg") no-repeat 50% 50% /contain;
            }
        }

        &--up {
            &:after {
                background-image: url("../../images/svg/statistics-arrow-up.svg");
            }
        }

        &--down {
            &:after {
                background-image: url("../../images/svg/statistics-arrow-down.svg");
            }
        }

        &--playoff {
            &:before {
                background: #1D7E3A;
            }
        }

        &--qualification {
            &:before {
                background: #D60019;
            }
        }

        &--forms {
            display: flex;
            padding: rem(14px 0);
        }
    }

    &__table-one-row {
        display: flex;
        padding: rem(0 22px);
        background: rgba(255, 255, 255, 0.07);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    &__table-one-forms {
        display: flex;
        gap: rem(10px);
        overflow: hidden;
        padding-left: rem(15px);
        background: url(../../images/svg/statistics-arrow.svg) no-repeat 0% 50%;
        background-size: rem(300px) rem(16px);
    }

    &__table-one-form {
        width: rem(30px);
        height: rem(30px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 2;

        &--win {
            color: #000;
            background: #F7FF13;
        }

        &--loss {
            color: #fff;
            background: #1D7E3A;
        }
    }

    &__table-one-info {
        margin-bottom: rem(54px);
    }

    &__table-one-info-text {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        margin-bottom: 2px;
    }

    &__table-one-info-list {
        display: flex;
        flex-direction: column;
        gap: rem(10px);
        margin-top: rem(14px);
    }

    &__table-one-info-item {
        display: flex;
        align-items: center;
        height: rem(30px);
        padding-left: rem(15px);
        position: relative;
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: rem(5px);
        }

        &:nth-child(1) {
            &:before {
                background: #1D7E3A;
            }
        }

        &:nth-child(2) {
            &:before {
                background: #D60019;
            }
        }
    }

    &__two-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(10px);
        margin-bottom: rem(24px);
    }

    &__info-title {
        font-weight: 400;
        font-size: rem(20px);
        line-height: rem(23px);        
        color: #000000;
        text-align: center;
        padding: rem(13px 20px);
        background: #F7FF13;
    }

    &__info-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: rem(10px);
        padding: rem(45px 75px 75px);
        background: linear-gradient(180deg, #0B0B0B 0%, #333333 100%);
    }

    &__info-content-column {
        display: flex;
        flex-direction: column;
        gap: rem(5px);
        text-transform: uppercase;

        &:nth-child(1) {
            text-align: left;
            color: #fff;
            width: rem(70px);
            padding-top: rem(43px);
        }

        &:nth-child(2) {
            align-self: flex-start;
            text-align: center;
            color: #B1B1B1;
            padding-bottom: rem(18px);
            flex-grow: 1;
            border-bottom: 1px solid #1D7E3A;
            position: relative;
            min-width: rem(300px);
        }

        &:nth-child(3) {
            width: rem(70px);
            text-align: right;
            color: #fff;
            padding-top: rem(43px);
        }

        &:nth-child(4) {
            text-align: center;
            color: #fff;
            padding-top: rem(43px);
            margin-left: auto;
            margin-right: auto;
            margin-top: rem(-62px);
        }
    }

    &__info-content-num {
        font-weight: 500;
        font-size: rem(24px);
        line-height: rem(28px);
    }

    &__info-content-text {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);
    }

    &__info-content-percent-left,
    &__info-content-percent-right {
        content: "";
        position: absolute;
        bottom: 0;
        position: absolute;
        height: rem(6px);
        border-radius: rem(6px);
        background: #F7FF13;
        transform: translateY(55%);
    }

    &__info-content-percent-left {
        left: 0;
        width: calc(35% - rem(10px));
    }

    &__info-content-percent-right {
        right: 0;
        width: calc(65% - rem(10px));
    }

    &__two-table-columns-wrapper {
        max-width: rem(1346px);
        margin: 0 auto;
    }

    &__two-table-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(10px);
        margin-bottom: rem(40px);
    }

    &__table-two-title {
        font-weight: 400;
        font-size: rem(20px);
        line-height: rem(23px);        
        color: #000000;
        text-align: center;
        padding: rem(13px 20px);
        background: #F7FF13;
    }

    &__table-two {
        margin-bottom: rem(24px);
        background: linear-gradient(180deg, #0B0B0B 0%, #333333 100%);
    }

    &__table-two-header {
        display: flex;
        background: rgba(255, 255, 255, 0.14);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    &__table-two-header-cell {
        padding: rem(18px 10px 17px);
        text-align: center;
        font-weight: 400;
        font-size: rem(20px);
        line-height: rem(23px);
        color: #fff;

        &:nth-child(1) {
            width: rem(97px);
            border-right: 1px solid rgba(255, 255, 255, 0.3);
        }

        &:nth-child(2) {
            flex-grow: 1;
        }
    }

    &__table-two-row {
        display: flex;
        background: rgba(255, 255, 255, 0.07);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    &__table-two-cell {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: rem(5px);
        padding: rem(19px 15px 18px);

        &--accent {
            color: #F7FF13;
        }

        &:nth-child(1) {
            width: rem(97px);
            border-right: 1px solid rgba(255, 255, 255, 0.3);
        }

        &:nth-child(2) {
            padding-left: rem(43px);
            width: rem(220px);
            flex-grow: 1;
        }

        &:nth-child(3) {
            padding: rem(11px 15px 10px);
            width: rem(150px);
        }

        &:nth-child(4) {
            width: rem(200px);
        } 
    }

    &__table-two-cell-text {
        font-weight: 400;
        font-size: rem(14px);
        line-height: rem(16px);
        color: #fff;
        text-align: center;

        &--accent {
            color: #F7FF13;
        }
    }

    &__table-two-btn-wrapper {
        text-align: center;
    }

    &__table-two-btn {
        display: inline-block;
        background: #FAFE13;
        border-radius: rem(3px);
        padding: rem(12px 20px);
        font-weight: 700;
        font-size: rem(14px);
        line-height: rem(16px);
        text-align: center;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;
        min-width: rem(156px);
    }

    &__table-three {
        background: linear-gradient(180deg, #0B0B0B 0%, #333333 100%);
    }

    &__table-three-header {
        display: flex;
        background: rgba(255, 255, 255, 0.14);
        padding: rem(0 22px);
    }

    &__table-three-header-cell {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        padding: rem(19px 5px 18px);
        border-right: 1px solid rgba(255, 255, 255, 0.3);

        &:nth-child(1) { width: rem(100px); border-right: none; }
        &:nth-child(2) { flex-grow: 1; }
        &:nth-child(3) {
            width: rem(100px);
            padding-right: rem(20px);
            padding-left: rem(20px);
        }
        &:nth-child(4) {
            width: rem(115px);
            padding-left: rem(20px);
            padding-right: rem(55px);
            position: relative;
        }
        &:nth-child(5) {
            width: rem(400px);
            padding-left: rem(20px);
            padding-right: rem(55px);
            position: relative;
            text-align: right;
        }

        &:nth-child(6) { 
            width: rem(210px);
            border-right: none;
            padding-left: rem(15px);
            padding-right: rem(15px);
        }

        &--up {
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                right: rem(15px);
                width: rem(18px);
                height: rem(18px);
                transform: translateY(-50%);
                background: url("../../images/svg/statistics-arrow-down-small.svg") no-repeat 50% 50% /contain;
            }
        }

        &--up-down {
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                right: rem(30px);
                width: rem(18px);
                height: rem(18px);
                transform: translateY(-50%);
                background: url("../../images/svg/statistics-arrow-down-small.svg") no-repeat 50% 50% /contain;
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: rem(15px);
                width: rem(18px);
                height: rem(18px);
                transform: translateY(-50%);
                background: url("../../images/svg/statistics-arrow-up-small.svg") no-repeat 50% 50% /contain;
            }
        }
    }

    &__table-three-row {
        display: flex;
        background: rgba(255, 255, 255, 0.07);
        padding: rem(0 22px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    &__table-three-cell {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        padding: rem(19px 5px 18px);
        border-right: 1px solid rgba(255, 255, 255, 0.3);

        &:nth-child(1) { width: rem(100px); border-right: none; }
        &:nth-child(2) { flex-grow: 1; }
        &:nth-child(3) {
            width: rem(100px);
            padding-right: rem(20px);
            padding-left: rem(20px);
        }
        &:nth-child(4) {
            width: rem(115px);
            padding-left: rem(20px);
            padding-right: rem(30px);
            padding-left: rem(30px);
            position: relative;
        }

        &:nth-child(5) {
            display: flex;
            width: rem(400px);
            position: relative;
            padding-right: rem(20px);
            padding-left: rem(20px);
        }

        &:nth-child(6) { 
            width: rem(210px);
            border-right: none;
            padding-left: rem(15px);
            padding-right: rem(15px);
        }
    }

    &__table-three-cell-percent-one {
        padding-right: rem(10px);
        width: rem(80px);
    }

    &__table-three-cell-percent {
        width: rem(100px);
        background: rgba(247, 255, 19, 0.5);
        margin-right: rem(40px);
        margin-top: rem(-5px);
        margin-bottom: rem(-5px);
        position: relative;
    }

    &__table-three-cell-percent-percent-show {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: #F7FF13;
    }

    &__table-three-cell-percent-two {
        width: rem(70px);
    }
}
