.statistics-four {
    width: 100%;
    padding: rem(26px 0);

    &__wrapper {
        max-width: rem(1376px);
        padding: rem(0 15px 50px);
        margin: 0 auto;
    }

    &__table-league-wrapper {
        margin-bottom: rem(40px);
    }
}
