.statistics-two {
    width: 100%;
    padding: rem(26px 0);

    &__wrapper {
        max-width: rem(1376px);
        padding: rem(0 15px 50px);
        margin: 0 auto;
    }

    &__title {
        text-align: center;
        background: rgba(247, 255, 19, 0.15);
        font-weight: 500;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        padding: rem(15px 10px 14px);
    }

    &__filter-wrapper {
        background: #F7FF13;
        display: flex;
        justify-content: center;
        gap: rem(20px);
    }

    &__filter-btn {
        font-weight: 400;
        font-size: rem(20px);
        line-height: rem(23px);      
        color: #0B0B0B;
        padding: rem(15px 150px);
        position: relative;
        cursor: pointer;

        &:before {
            opacity: 0;
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: rem(6px);
            background: #1D7E3A;
            border-radius: rem(4px);
            transition: .3s;
        }

        &:hover,
        &--active {
            &:before {
                opacity: 1;
            }
        }
    }

    &__filter-two-wrapper {
        background: rgba(247, 255, 19, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(14px 20px);
        gap: rem(10px);
    }

    &__filter-two-btn {
        width: rem(24px);
        height: rem(24px);
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        font-size: 0;

        &--less {
            background-image: url("../../images/svg/statistics-arrow-less.svg");
        }
        
        &--more {
            background-image: url("../../images/svg/statistics-arrow-more.svg");
        }
    }

    &__filter-two-select {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(10px);
        padding: rem(9px 15px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        font-weight: 400;
        font-size: rem(20px);
        line-height: rem(23px);
        color: #fff;
        min-width: rem(250px);
        cursor: pointer;

        &:after {
            content: "";
            display: inline-block;
            width: rem(16px);
            height: rem(16px);
            background: url("../../images/svg/statistics-name-arrow.svg") no-repeat 50% 50% /contain;
        }
    }

    &__table-league-wrapper {
        margin-bottom: rem(40px);
    }

    &__two-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(10px);
        margin-bottom: rem(24px);
    }

    &__two-table-columns-wrapper {
        max-width: rem(1346px);
        margin: 0 auto;
    }

    &__two-table-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(10px);
        margin-bottom: rem(40px);
    }

    &__table-three {
        background: linear-gradient(180deg, #0B0B0B 0%, #333333 100%);
    }

    &__table-three-header {
        display: flex;
        background: rgba(255, 255, 255, 0.14);
        padding: rem(0 22px);
    }

    &__table-three-header-cell {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        padding: rem(19px 5px 18px);
        border-right: 1px solid rgba(255, 255, 255, 0.3);

        &:nth-child(1) { width: rem(100px); border-right: none; }
        &:nth-child(2) { flex-grow: 1; }
        &:nth-child(3) {
            width: rem(100px);
            padding-right: rem(20px);
            padding-left: rem(20px);
        }
        &:nth-child(4) {
            width: rem(115px);
            padding-left: rem(20px);
            padding-right: rem(55px);
            position: relative;
        }
        &:nth-child(5) {
            width: rem(400px);
            padding-left: rem(20px);
            padding-right: rem(55px);
            position: relative;
            text-align: right;
        }

        &:nth-child(6) { 
            width: rem(210px);
            border-right: none;
            padding-left: rem(15px);
            padding-right: rem(15px);
        }

        &--up {
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                right: rem(15px);
                width: rem(18px);
                height: rem(18px);
                transform: translateY(-50%);
                background: url("../../images/svg/statistics-arrow-down-small.svg") no-repeat 50% 50% /contain;
            }
        }

        &--up-down {
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                right: rem(30px);
                width: rem(18px);
                height: rem(18px);
                transform: translateY(-50%);
                background: url("../../images/svg/statistics-arrow-down-small.svg") no-repeat 50% 50% /contain;
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: rem(15px);
                width: rem(18px);
                height: rem(18px);
                transform: translateY(-50%);
                background: url("../../images/svg/statistics-arrow-up-small.svg") no-repeat 50% 50% /contain;
            }
        }
    }

    &__table-three-row {
        display: flex;
        background: rgba(255, 255, 255, 0.07);
        padding: rem(0 22px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    &__table-three-cell {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        padding: rem(19px 5px 18px);
        border-right: 1px solid rgba(255, 255, 255, 0.3);

        &:nth-child(1) { width: rem(100px); border-right: none; }
        &:nth-child(2) { flex-grow: 1; }
        &:nth-child(3) {
            width: rem(100px);
            padding-right: rem(20px);
            padding-left: rem(20px);
        }
        &:nth-child(4) {
            width: rem(115px);
            padding-left: rem(20px);
            padding-right: rem(30px);
            padding-left: rem(30px);
            position: relative;
        }

        &:nth-child(5) {
            display: flex;
            width: rem(400px);
            position: relative;
            padding-right: rem(20px);
            padding-left: rem(20px);
        }

        &:nth-child(6) { 
            width: rem(210px);
            border-right: none;
            padding-left: rem(15px);
            padding-right: rem(15px);
        }
    }

    &__table-three-cell-percent-one {
        padding-right: rem(10px);
        width: rem(80px);
    }

    &__table-three-cell-percent {
        width: rem(100px);
        background: rgba(247, 255, 19, 0.5);
        margin-right: rem(40px);
        margin-top: rem(-5px);
        margin-bottom: rem(-5px);
        position: relative;
    }

    &__table-three-cell-percent-percent-show {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: #F7FF13;
    }

    &__table-three-cell-percent-two {
        width: rem(70px);
    }
}
