.statistics-four {
    width: 100%;
    padding: rem(26px 0);

    &__wrapper {
        max-width: rem(1376px);
        padding: rem(0 15px 50px);
        margin: 0 auto;
    }

    &__title {
        text-align: center;
        background: rgba(247, 255, 19, 0.15);
        font-weight: 500;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        padding: rem(15px 10px 14px);
    }

    &__top-wrapper {
        background: #F7FF13;
        display: flex;
        justify-content: center;
        gap: rem(70px);
    }

    &__filter-wrapper {
        display: flex;
        gap: rem(20px);
    }

    &__filter-btn {
        font-weight: 400;
        font-size: rem(20px);
        line-height: rem(23px);      
        color: #0B0B0B;
        padding: rem(10px 50px);
        position: relative;
        cursor: pointer;

        &:before {
            opacity: 0;
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: rem(6px);
            background: #1D7E3A;
            border-radius: rem(4px);
            transition: .3s;
        }

        &:hover,
        &--active {
            &:before {
                opacity: 1;
            }
        }
    }

    &__filter-select-wrapper {
        font-weight: 400;
        font-size: rem(20px);
        line-height: rem(23px);      
        color: #0B0B0B;
        padding: rem(10px);
    }

    &__filter-select {
        display: inline-block;
        padding: rem(5px 30px 5px 5px);
        border: 1px solid #000;
        position: relative;
        cursor: pointer;
        margin-left: rem(10px);

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            right: rem(6px);
            width: rem(16px);
            height: rem(17px);
            transform: translateY(-55%);
            background: url("../../images/svg/statistics-select.svg") no-repeat 50% 50% /contain;
        }
    }

    &__table-one {
        margin-bottom: rem(24px);
        background: linear-gradient(180deg, #0B0B0B 0%, #333333 100%);
    }

    &__table-one-header {
        display: flex;
        background: rgba(255, 255, 255, 0.14);
        padding: rem(0 22px);
    }

    &__table-one-header-cell,
    &__table-one-cell {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        padding: rem(19px 5px 18px);

        &:nth-child(1) { width: rem(115px);}
        &:nth-child(2) { flex-grow: 1; border-right: 1px solid rgba(255, 255, 255, 0.3);}
        &:nth-child(3) { width: rem(55px); text-align: center;}
        &:nth-child(4) { width: rem(85px); text-align: center;}
        &:nth-child(5),
        &:nth-child(6) { width: rem(100px);}
        &:nth-child(7) { width: rem(210px);}
        &:nth-child(8) { width: rem(60px);}
        &:nth-child(9) { width: rem(50px);}
        &:nth-child(10) { width: rem(220px);}

        &--number {
            position: relative;
            padding-left: rem(20px);
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: rem(5px);
                height: rem(30px);
                transform: translateY(-50%);
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: rem(55px);
                width: rem(18px);
                height: rem(18px);
                transform: translateY(-50%);
                background: url("../../images/svg/statistics-zero.svg") no-repeat 50% 50% /contain;
            }
        }

        &--up {
            &:after {
                background-image: url("../../images/svg/statistics-arrow-up.svg");
            }
        }

        &--down {
            &:after {
                background-image: url("../../images/svg/statistics-arrow-down.svg");
            }
        }

        &--playoff {
            &:before {
                background: #1D7E3A;
            }
        }

        &--qualification {
            &:before {
                background: #D60019;
            }
        }

        &--forms {
            display: flex;
            padding: rem(14px 0);
        }
    }

    &__table-one-row {
        display: flex;
        padding: rem(0 22px);
        background: rgba(255, 255, 255, 0.07);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    &__table-one-forms {
        display: flex;
        gap: rem(10px);
        overflow: hidden;
        padding-left: rem(15px);
        background: url(../../images/svg/statistics-arrow.svg) no-repeat 0% 50%;
        background-size: rem(300px) rem(16px);
    }

    &__table-one-form {
        width: rem(30px);
        height: rem(30px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 2;

        &--win {
            color: #000;
            background: #F7FF13;
        }

        &--loss {
            color: #fff;
            background: #1D7E3A;
        }
    }

    &__table-one-info {
        margin-bottom: rem(44px);
    }

    &__table-one-info-text {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        margin-bottom: 2px;
    }

    &__table-one-info-list {
        display: flex;
        flex-direction: column;
        gap: rem(10px);
        margin-top: rem(14px);
    }

    &__table-one-info-item {
        display: flex;
        align-items: center;
        height: rem(30px);
        padding-left: rem(15px);
        position: relative;
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: rem(5px);
        }

        &:nth-child(1) {
            &:before {
                background: #1D7E3A;
            }
        }

        &:nth-child(2) {
            &:before {
                background: #D60019;
            }
        }
    }

    &__bottom-wrapper {
        display: flex;
        justify-content: center;
        gap: rem(220px);
        padding: rem(14px 20px);
        background: rgba(247, 255, 19, 0.15);
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
    }

    &__table-two {
        background: linear-gradient(180deg, #0B0B0B 0%, #333333 100%);
    }

    &__table-two-header {
        display: flex;
        background: rgba(255, 255, 255, 0.14);
        padding: rem(0 22px);
    }

    &__table-two-header-cell {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        padding: rem(19px 5px 18px);
        border-right: 1px solid rgba(255, 255, 255, 0.3);

        &:nth-child(1) { width: rem(80px); border-right: none; }
        &:nth-child(2) { width: rem(230px); flex-grow: 1; padding-left: rem(50px);}
        &:nth-child(3) {
            width: rem(60px);
            padding-right: rem(10px);
            padding-left: rem(25px);
            border-right: none;
        }

        &:nth-child(4) {
            width: rem(60px);
            padding-right: rem(10px);
            padding-left: rem(10px);
            text-align: center;
            border-right: none;
        }

        &:nth-child(5) {
            width: rem(70px);
            padding-right: rem(25px);
            padding-left: rem(10px);
        }

        &:nth-child(6) { 
            width: rem(100px);
            text-align: center;
            padding-left: rem(10px);
            padding-right: rem(10px);
        }

        &:nth-child(7) { 
            width: rem(290px);
            text-align: center;
            padding-left: rem(15px);
            padding-right: rem(15px);
        }

        &:nth-child(8) { 
            width: rem(220px);
            text-align: center;
            padding-left: rem(15px);
            padding-right: rem(15px);
        }
        &:nth-child(9) { 
            width: rem(190px);
            padding-left: rem(15px);
            border-right: none;
        }
    }

    &__table-two-row {
        display: flex;
        background: rgba(255, 255, 255, 0.07);
        padding: rem(0 22px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    &__table-two-cell {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        padding: rem(19px 5px 18px);
        border-right: 1px solid rgba(255, 255, 255, 0.3);

        &:nth-child(1) { width: rem(80px); border-right: none;}
        &:nth-child(2) { width: rem(230px); flex-grow: 1;}
        &:nth-child(3) {
            width: rem(60px);
            padding-right: rem(10px);
            padding-left: rem(25px);
            border-right: none;
        }

        &:nth-child(4) {
            width: rem(60px);
            padding-right: rem(10px);
            padding-left: rem(10px);
            text-align: center;
            border-right: none;
        }

        &:nth-child(5) {
            width: rem(70px);
            padding-right: rem(25px);
            padding-left: rem(10px);
        }

        &:nth-child(6) { 
            width: rem(100px);
            text-align: center;
            padding-left: rem(10px);
            padding-right: rem(10px);
        }

        &:nth-child(7) { 
            width: rem(290px);
            padding-left: rem(20px);
            padding-right: rem(20px);
        }

        &:nth-child(8) { 
            width: rem(220px);
            text-align: center;
            padding-left: rem(15px);
            padding-right: rem(15px);
        }

        &:nth-child(9) { 
            width: rem(190px);
            padding-left: rem(15px);
            border-right: none;
        }

        &--points {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: rem(5px);
        }

        &--forms {
            display: flex;
            justify-content: center;
            padding: rem(14px 0);
        }
    }

    &__table-two-points {
        width: rem(210px);
        height: rem(10px);
        background: url("../../images/svg/statistics-arrow-points.svg") no-repeat 0% 50% /contain;
        position: relative;
    }

    &__table-two-points-percent {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: #F7FF13;
    }

    &__table-two-points-text {
        width: rem(15px);
    }

    &__table-two-forms {
        display: flex;
        gap: rem(10px);
        overflow: hidden;
        padding-left: rem(15px);
        background: url(../../images/svg/statistics-arrow.svg) no-repeat 0% 50%;
        background-size: rem(300px) rem(16px);
    }

    &__table-two-form {
        width: rem(30px);
        height: rem(30px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 2;

        &--win {
            color: #000;
            background: #F7FF13;
        }

        &--loss {
            color: #fff;
            background: #1D7E3A;
        }
    }

}
