.statistics-search {
    height: 100%;
    max-height: 100%;
    padding: rem(80px 35px);

    &__wrapper {
        max-width: rem(1346px);
        max-height: 100%;
        height: 100%;
        margin: 0 auto;
    }

    &__search-label {
        display: block;
        width: 100%;
        position: relative;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: linear-gradient(90deg, #262626 0%, #1A1A1A rem(300px), #000000 rem(535px), #000000 100%);
    }

    &__search-icon {
        position: absolute;
        top: 50%;
        left: rem(28px);
        width: rem(16px);
        height: rem(16px);
        background: url("../../images/svg/header-search.svg") no-repeat 50% 50% /contain;
        transform: translateY(-50%);
    }

    &__search-icon-path {
        fill: #898989;
        transition: .3s;
    }

    &__search {
        display: inline-block;
        width: 100%;
        padding: rem(24px 25px 24px 60px);
        font-size: rem(16px);
        line-height: rem(19px);
        color: #fff;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;

        &::placeholder {
            color: #898989;
            opacity: 1;
        }

        &:focus {
            & + .header__search-icon .header__search-icon-path {
                fill: #fff;
            }
        }
    }

    &__list-wrapper {
        height: calc(100% - rem(86px));
        max-height: calc(100% - rem(86px));
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
    
    &__item-link {
        display: block;
        padding: rem(19px 27px);
        background: rgba(255, 255, 255, 0.07);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #fff;
        transition: .1s;

        &:hover {
            background: #F7FF13;
            color: #000;
        }
    }
}