@import "sass-rem";

.profile {
  width: 100%;
  //height: 500px;

  @media(max-width:767.98px) {
    height: 100%;
  }
}

.titleWrapper {
  padding: rem(20px 15px);
  background: #000;
  position: relative;
  display: flex;
  align-items: center;

  @media(max-width:768px) {
    background-color: #111213;
  }
}

.title {
  font-weight: 500;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #FFFFFF;
  margin-right: auto;
}

.titleBtn {
  display: inline-block;
  font-size: 0;
  background: #323232;
  border-radius: 10px;
  width: rem(28px);
  height: rem(28px);
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(8px);
    height: rem(14px);
    background: url("../../assets/images/svg/profile-top-down.svg") no-repeat 50% 50% /contain;
    transition: .3s;
    opacity: .6;
    transform: translate(-50%, -50%);
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.item {
  background: #1B1B1B;
  padding: rem(13px 15px);
}

.btnTab {
  cursor: pointer;

  &:hover {
    .headerIcon {
      background: #F7FF13;

      &:before {
        opacity: 1;
      }
    }
  }
}

.header {
  margin-bottom: rem(2px);
  display: flex;
  align-items: center;
}



.headerIcon {
  width: rem(34px);
  height: rem(34px);
  background: #3D3D3D;
  border-radius: rem(10px);
  margin-right: rem(12px);
  position: relative;
  transition: .3s;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(18px);
    height: rem(18px);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    transition: .3s;
    opacity: .6;
    transform: translate(-50%, -50%);
  }
}

.headerIconInfo {
  &:before {
    background-image: url("../../assets/images/svg/profile-info.svg");
  }
}

.headerIconTransactions {
  &:before {
    background-image: url("../../assets/images/svg/profile-transactions.svg");
  }
}

.headerIconBets {
  &:before {
    background-image: url("../../assets/images/svg/profile-bets.svg");
  }
}

.headerIconPromo {
  &:before {
    background-image: url("../../assets/images/svg/profile-promo.svg");
  }
}

.headerIconSettings {
  &:before {
    background-image: url("../../assets/images/svg/profile-settings.svg");
  }
}

.headerIconSupport {
  &:before {
    background-image: url("../../assets/images/svg/profile-support.svg");
  }
}

.headerIconOpen {
  background: #F7FF13;

  &:before {
    opacity: 1;
  }
}

.headerTitle {
  font-weight: 500;
  font-size: rem(18px);
  line-height: rem(21px);
  color: #fff;
  margin-right: auto;
}

.headerBtnMore {
  display: inline-block;
  font-size: 0;
  background: #323232;
  border-radius: rem(10px);
  width: rem(28px);
  height: rem(28px);
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(10px);
    height: rem(6px);
    background: url("../../assets/images/svg/profile-down.svg") no-repeat 50% 50% /contain;
    transition: .3s;
    opacity: .6;
    transform: translate(-50%, -50%);
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.itemInfo {
  display: none;
  font-weight: 400;
  font-size: rem(14px);
  line-height: rem(16px);
  color: #636363;
  padding-left: rem(46px);
}

.itemInfoOpen {
  display: block;
}

.subList {
  display: none;
  flex-direction: column;
  gap: 1px;
  padding: rem(20px 0 13px);
}

.subListOpen {
  display: flex;
}

.subItem {
  width: 100%;
  background: #2B2B2B;
}

.link {
  display: inline-block;
  width: 100%;
  padding: rem(13px 15px);
  font-weight: 400;
  font-size: rem(14px);
  line-height: rem(16px);
  color: #fff;
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    right: rem(15px);
    width: rem(6px);
    height: rem(10px);
    background: url("../../assets/images/svg/profile-right.svg") no-repeat 50% 50% /contain;
    transform: translateY(-50%);
  }
}

.linkProblem {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: rem(35px);
    width: rem(16px);
    height: rem(16px);
    background: url("../../assets/images/svg/profile-problem.svg") no-repeat 50% 50% /contain;
    transform: translateY(-50%);
  }
}