@import "sass-rem";


.tableBigSmall {
  //background: linear-gradient(180deg, #0B0B0B 0%, #333333 100%);
  overflow-x: auto;
}

.header {
  //display: flex;
  //background: rgba(255, 255, 255, 0.14);
  padding: rem(0 22px);
  display: grid;
  grid-template-columns: rem(100px) rem(300px) rem(100px) rem(115px) 1fr rem(210px);
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    width: rem(22px);
    height: 100%;
    content: '';
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%), rgba(255, 255, 255, 0.07);
  }

  &::before {

    position: absolute;
    right: 0%;
    width: rem(22px);
    content: '';
    height: 100%;
    @media (min-width: 1260px) {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%), rgba(255, 255, 255, 0.07);
    }
  }

  @media(max-width: 1199.98px) {
    grid-template-columns: rem(60px) rem(105px) rem(100px) rem(115px) 1fr rem(140px);
    //width: fit-content;
  }
  @media(max-width: 767.98px) {
    grid-template-columns: rem(40px) rem(90px) rem(70px) rem(80px) 1fr rem(140px);

  }
}

.headerCell {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: rem(18px);
  line-height: rem(21px);
  color: #fff;
  padding: rem(19px 5px 18px);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%), rgba(255, 255, 255, 0.07);
  //background: #FFFFFF23;
  @media(min-width: 1199.98px) {

    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }

  @media(max-width: 767.98px) {
    font-size: rem(14px);
    padding-left: 0 !important;
  }

  &:nth-child(1) {
    //width: rem(100px);
    border-right: none;
    @media(max-width: 1199.98px) {
      //width: rem(80px);
    }
    @media(max-width: 767.98px) {
      width: rem(40px);
    }
  }

  &:nth-child(2) {
    //flex-grow: 1;
  }

  &:nth-child(3) {
    //width: rem(100px);
    padding-right: rem(20px);
    padding-left: rem(20px);
  }

  &:nth-child(4) {
    //width: rem(115px);
    padding-left: rem(20px);
    padding-right: rem(55px);
    position: relative;
  }

  &:nth-child(5) {
    //width: rem(400px);
    min-width: rem(340px);
    padding-left: rem(20px);
    padding-right: rem(55px);
    position: relative;
    text-align: right;
    @media(max-width: 1199.98px) {
      justify-content: flex-end;
    }
  }

  &:nth-child(6) {
    //width: rem(210px);
    border-right: none;
    padding-left: rem(15px);
    padding-right: rem(15px);
  }

  &.headerCellUpp {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      right: rem(15px);
      width: rem(18px);
      height: rem(18px);
      transform: translateY(-50%);
      background: url("../../assets/images/svg/statistics-arrow-down-small.svg") no-repeat 50% 50% /contain;
    }
  }

  &.headerCellUppDown {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      right: rem(30px);
      width: rem(18px);
      height: rem(18px);
      transform: translateY(-50%);
      background: url("../../assets/images/svg/statistics-arrow-down-small.svg") no-repeat 50% 50% /contain;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: rem(15px);
      width: rem(18px);
      height: rem(18px);
      transform: translateY(-50%);
      background: url("../../assets/images/svg/statistics-arrow-up-small.svg") no-repeat 50% 50% /contain;
    }
  }
}

.row {
  display: flex;
  //background: rgba(255, 255, 255, 0.07);
  padding: rem(0 22px);
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    width: rem(22px);
    content: '';
    height: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.30);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%), rgba(255, 255, 255, 0.07);
  }

  &::after {
    position: absolute;
    right: 0%;
    width: rem(22px);
    content: '';
    height: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.30);
    @media (min-width: 1260px) {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%), rgba(255, 255, 255, 0.07);
    }
  }

  //border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-columns: rem(100px) rem(300px) rem(100px) rem(115px) 1fr rem(210px);
  @media(max-width: 1198.98px) {
    grid-template-columns: rem(60px) rem(105px) rem(100px) rem(115px) 1fr rem(140px);
    align-items: center;
    //width: fit-content;
  }
  @media(max-width: 767.98px) {
    grid-template-columns: rem(40px) rem(90px) rem(70px) rem(80px) 1fr rem(140px);
  }
}

.cell {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: rem(18px);
  line-height: 1.1666;
  color: #fff;
  height: 100%;
  padding: rem(19px 5px 18px);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%), rgba(255, 255, 255, 0.07);
  @media(max-width: 1199.98px) {
    padding: rem(12px 5px 4px);
  }
  @media(max-width: 767.98px) {
    font-size: rem(14px);
    padding-left: 0 !important;
    border-right: none;
    padding-right: 10px !important;
  }

  &:nth-child(1) {
    //width: rem(100px);
    border-right: none;
    @media(max-width: 1199px) {
      width: rem(80px);
    }
    @media(max-width: 767.98px) {
      width: rem(40px);
    }
  }

  &:nth-child(2) {
    //flex-grow: 1;
    @media(max-width: 1199.98px) {
      //width: rem(100px);
      //padding-right: rem(5px);
    }
  }

  &:nth-child(3) {
    //width: rem(100px);
    padding-right: rem(20px);
    padding-left: rem(20px);
  }

  &:nth-child(4) {
    //width: rem(115px);
    padding-left: rem(20px);
    padding-right: rem(30px);
    padding-left: rem(30px);
    position: relative;
  }

  &:nth-child(5) {
    display: flex;
    //width: rem(400px);
    position: relative;
    padding-right: rem(20px);
    padding-left: rem(20px);
    min-width: rem(340px);

  }

  &:nth-child(6) {
    //width: rem(210px);
    border-right: none;
    padding-left: rem(15px);
    padding-right: rem(15px);
    @media(max-width: 767.98px) {
      //text-align: right;
    }
  }
}

.percentOne {
  padding-right: rem(10px);
  width: rem(80px);
  @media(max-width: 767.98px) {
    width: auto;
  }
}

.percent {
  width: rem(100px);
  height: rem(30px);
  //background: rgba(247, 255, 19, 0.5);
  margin-right: rem(40px);
  margin-top: rem(-5px);
  margin-bottom: rem(-5px);
  position: relative;
}

.percentShow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #F7FF13;
}

.percentTwo {
  width: rem(70px);
}

.btnWrapper {
  margin-top: rem(24px);
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  background: #FAFE13;
  border-radius: rem(3px);
  padding: rem(12px 20px);
  font-weight: 700;
  font-size: rem(14px);
  line-height: rem(16px);
  text-align: center;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  min-width: rem(156px);
}
