@import "sass-rem";

.modalWithdrawMoney {
	position: relative;
	padding: rem(19px 0 25px);
	width: rem(370px);
	max-width: 100%;
	background: #151515;
}

.title {
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-size: rem(18px);
	font-weight: 500;
	line-height: rem(21px);
	margin-bottom: rem(24px);
	padding: rem(0 50px);
}

.moneyWrapper {
	display: flex;
	flex-direction: column;
	gap:rem(12px);
}

.moneyContent {
	width: 100%;
	position: relative;
	padding: rem(15px 54px 16px);
	background: radial-gradient(63.59% 100% at 50.00% 100.00%, #494B02 0%, rgba(69, 71, 13, 0.57) 41.15%, rgba(49, 50, 9, 0.34) 72.92%, rgba(79, 82, 10, 0.00) 100%), rgba(0, 0, 0, 0.20);
	margin-bottom: rem(12px);

	&:before {
		position: absolute;
		content: "";
		height: rem(4px);
		bottom: 0;
		left: rem(30px);
		right: rem(30px);
		background: radial-gradient(50% 50.00% at 50% 50.00%, #F7FF13 0%, rgba(0, 0, 0, 0.00) 100%);
	}
}

.header {
	display: flex;
	margin-bottom: rem(16px);
}

.btnCopy {
	position: relative;
	font-weight: 400;
	font-size: rem(14px);
	line-height: rem(16px);
	color: #fff;
	padding-right: rem(22px);
	margin-right: auto;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		right: 0;
		transition: .3s;
		opacity: .6;
		width: rem(14px);
		height: rem(14px);
		background: url("../../assets/images/svg/balance-copy.svg") no-repeat 50% 50% /contain;
		transform: translateY(-50%);
	}

	&:hover {
		&:before {
			opacity: 1;
		}
	}
}

.btnUpdate,
.btnShow {
	position: relative;
	font-size: 0;
	line-height: 0;
	width: rem(16px);
	height: rem(16px);
	display: inline-block;
	cursor: pointer;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		right: 50%;
		transition: .3s;
		opacity: .6;
		width: rem(16px);
		height: rem(16px);
		background: url("../../assets/images/svg/balance-update.svg") no-repeat 50% 50% /contain;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;
		transform: translate(-50%, -50%);
	}

	&:hover {
		&:before {
			opacity: 1;
		}
	}
}

.btnUpdate {
	margin-right: rem(10px);
	margin-left: auto;
	&:before {
		background-image: url("../../assets/images/svg/balance-update.svg");
	}
}

.btnShow {
	margin-left: rem(5px);
	&:before {
		background-image: url("../../assets/images/svg/balance-show.svg");
	}
}

.money {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: rem(10px);
}

.moneyInfo {
	display: flex;
	flex-direction: column;
	gap: rem(5px);
}

.moneyCount {
	color: #fff;
	font-size: rem(18px);
	line-height: rem(21px);
	font-weight: 500;
}

.moneyText {
	color: #828282;
	font-size: rem(12px);
	line-height: rem(14px);
	font-weight: 400;
}

.text {
	color: #757575;
	font-size: rem(15px);
	line-height: rem(18px);
	font-weight: 400;
	margin-bottom: rem(8px);
	padding: rem(0 54px);
}

.paymentList {
	display: flex;
	flex-direction: column;
	gap:rem(12px);
	margin-bottom: rem(16px);
}

.paymentItem {
	width: 100%;
}

.itemBtn {
	width: 100%;
	display: flex;
	gap: rem(10px);
	align-items: center;
	cursor: pointer;
	background: #1B1B1B;
	padding: rem(13px 30px 13px 54px);

	&:hover {
		.itemBtnIcon {
			background: #F7FF13;
			&:before {
				filter: invert(0);
			}
		}
	}
}

.itemBtnTitle {
	flex-grow: 1;
	font-weight: 500;
	font-size: rem(18px);
	line-height: rem(21px);
	color: #fff;
}

.itemBtnIcon {
	width: rem(34px);
	min-width: rem(34px);
	height: rem(34px);
	background: #323232;
	border-radius: rem(10px);
	transition: .3s;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: rem(14px);
		height: rem(14px);
		background: url("../../assets/images/svg/faq-arrow.svg") no-repeat 50% 50% /contain;
		transform: translate(-50%, -50%);
		filter: invert(1);
		opacity: .5;
		transition: .3s;
	}
}

.brnWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: rem(16px);
}

.btn {
	color: #000;
	padding: rem(12px);
	display: block;
	min-width: rem(183px);
	border-radius: rem(3px);
	background: #FAFE13;
	text-align: center;
	font-size: rem(14px);
	line-height: rem(16px);
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}

.btnHistory {
	color: #FAFE13;
	padding: rem(12px 12px 12px 44px);
	position: relative;
	display: inline-block;
	min-width: rem(183px);
	border-radius: rem(3px);
	background: rgba(250, 254, 19, 0.15);
	font-size: rem(14px);
	line-height: rem(16px);
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		width: rem(20px);
		height: rem(20px);
		left: rem(18px);
		transform: translateY(-55%);
		background: url("../../assets/images/svg/modals/history.svg") no-repeat 50% 50% /contain;
	}
}