@import "sass-rem";

.inPersonScore {
  width: 100%;
}

.title {
  font-weight: 500;
  font-size: rem(48px);
  line-height: 1.1666;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: rem(24px);
  @media(max-width: 1199.98px) {
    font-size: rem(36px);
  }
  @media(max-width: 767.98px) {
    font-size: rem(16px);
    margin-bottom: rem(10px);
  }
}

.wrapper {
  position: relative;
  margin-bottom: rem(10px);
  @media(max-width: 767.98px) {
    padding: rem(0 18px 0 6px);
  }
}

.colors {
  display: flex;
  height: rem(50px);
  @media(max-width: 1199.98px) {
    height: rem(40px);
  }
}

.color {
  height: 100%;

  &:nth-child(1) {
    background: #1D7E3A;
  }

  &:nth-child(2) {
    background: #52B205;
  }
}

.percent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: rem(0 60px);
  justify-content: space-between;
  @media(max-width: 1199.98px) {
    padding-left: rem(139px);
  }
  @media(max-width: 767.98px) {
    padding: rem(0 29px 0 37px);
  }
}

.percentText {
  font-weight: 500;
  font-size: rem(24px);
  line-height: 1.1666;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  @media(max-width: 767.98px) {
    font-size: rem(16px);
  }
}

.names {
  display: flex;
  justify-content: space-between;
  @media(max-width: 1199.98px) {
    padding: rem(0 4% 0 125px);
  }
  @media(max-width: 767.98px) {
    padding: rem(0 13px 0 15px);
  }
}

.name {
  text-transform: uppercase;
  color: #F7FF13;
  font-size: rem(24px);
  line-height: 1.1666;
  font-weight: 500;
  @media(max-width: 1199.98px) {
    max-width: rem(150px);
    font-size: rem(18px);

  }
  @media(max-width: 767.98px) {
    font-size: rem(12px);
    max-width: rem(80px);
  }
}
