@import "sass-rem";

.promoList {
	padding-bottom: rem(50px);
}

.mainTitle {
	font-weight: 500;
	font-size: rem(24px);
	line-height: rem(28px);
	color: #fff;
	margin-bottom: rem(24px);
}

.list {
	display: flex;
	justify-content: space-between;
	gap: rem(100px);
}

.item {
	width: rem(400px);
}

.link {
	display: block;
}

.img {
	display: block;
	width: 100%;
	height: rem(190px);
	margin-bottom: rem(16px);
}

.dates {
	position: relative;
	padding-left: rem(28px);
	font-weight: 400;
	font-size: rem(13px);
	line-height: rem(15px);
	color: #9C9C9C;
	margin-bottom: rem(12px);

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: rem(18px);
		height: rem(18px);
		background: url("../../assets/images/svg/promotions-time.svg") no-repeat 50% 50% /contain;
		transform: translateY(-50%);
		opacity: .6;
	}
}

.title {
	max-width: rem(360px);
	font-weight: 500;
	font-size: rem(18px);
	line-height: rem(21px);
	color: #fff;
	margin-bottom: rem(6px);
}

.text {
	max-width: rem(360px);
	font-weight: 400;
	font-size: rem(15px);
	line-height: rem(18px);
	color: #8F8F8F;
}
