.modal-settings {
	position: relative;
    padding: rem(30px 20px 45px);
    width: rem(800px);
    max-width: 100%;

    &__title {
        padding-left: rem(50px);
        margin-bottom: rem(30px);
        font-weight: 700;
        font-size: rem(32px);
        line-height: rem(38px);
        color: #fff;
    }
}