@import "sass-rem";

.title {
	text-align: center;
	background: rgba(247, 255, 19, 0.15);
	font-weight: 500;
	font-size: rem(18px);
	line-height: rem(21px);
	color: #fff;
	padding: rem(15px 10px 14px);
}

.wrapper {
	background: #F7FF13;
	display: flex;
	justify-content: center;
	gap: rem(20px);
}

.btn {
	font-weight: 400;
	font-size: rem(20px);
	line-height: rem(23px);      
	color: #0B0B0B;
	padding: rem(15px 150px);
	position: relative;
	cursor: pointer;

	&:before {
		opacity: 0;
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: rem(6px);
		background: #1D7E3A;
		border-radius: rem(4px);
		transition: .3s;
	}

	&:hover,
	&.btnActive {
		&:before {
			opacity: 1;
		}
	}
}