@import "sass-rem";

.language {
  line-height: 1;
  font-size: rem(18px);
  position: relative;
  z-index: 2;

  &__button {
    display: flex;
    align-items: center;
    border: 2px solid #262626;
    border-radius: 30px;
    height: rem(40px);
    padding: rem(10px 15px);
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    gap: rem(7px);

    &:hover {
      background-color: #262626;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 2px solid #262626;
    border-radius: rem(15px);
    position: absolute;
    right: 0;
    background-color: #000;
    top: calc(100% + rem(10px));
    overflow: hidden;


  }
}

.item {
  gap: rem(7px);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: rem(10px 15px);
  color: #fff;
  position: relative;
  cursor: pointer;
  transition: 0.3s;

  &__icon {
    width: rem(18px);
    height: rem(18px);
    flex: 0 0 rem(18px);

    img {
      object-fit: contain;
      object-position: center;
    }
  }

  &:hover {
    background-color: #262626;
  }
}