@import "sass-rem";



.searchLabel {
  padding: rem(14px 25px);
  position: relative;
  width: rem(290px);
  //background: linear-gradient(90deg, #262626 0%, #1a1a1a 56.77%, #000000 100%);
  @media (max-width: 768px) {
    display: none;
  }
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: rem(25px);
  width: rem(16px);
  height: rem(16px);
  color: #898989;
  transform: translateY(-50%);
}


.search {
  width: 100%;
  min-height: rem(40px);
  padding: rem(10px 10px 10px 35px);
  font-size: rem(16px);
  color: #fff;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;

  &::placeholder {
    color: #898989;
    opacity: 1;
  }

  &:focus {
    & + .searchIcon .searchIconPath {
      fill: #fff;
    }
  }
}
