@import 'sass-rem';

.stream {
  position: relative;
  @media(max-width: 767.98px) {
    height: rem(210px);
  }

  img,
  iframe {
    width: 100%;
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(54px);
    height: rem(54px);
    border-radius: 50%;
    background: #F7FF13 url("../../assets/images/svg/game-banner-play.svg") no-repeat 50% 50%;
    background-size: rem(24px) rem(24px);
    transition: .3s;
    font-size: 0;
    cursor: pointer;
    @media(max-width: 767.98px) {
      width: rem(32px);
      height: rem(32px);
      background-size: rem(12px) rem(12px);
    }

    &:hover {
      transform: translate(-50%, -50%) scale(1.05);
    }
  }
}