@import "sass-rem";

.statisticsStandings {
	width: 100%;
}

.wrapper {
	padding: rem(25px);
}

.mainWrapper {
	margin-bottom: rem(24px);
}

.title {
	padding: rem(14px 20px 13px);
	font-weight: 500;
	font-size: rem(20px);
	line-height: rem(23px);
	color: #000;
	background: #F7FF13;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	text-align: center;
}

.tableWrapper {
	max-width: rem(1346px);
	margin: 0 auto rem(40px);
}

.twoTableColumns {
	max-width: rem(1346px);
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: rem(10px);
}
