@import "sass-rem";

.nextPrevGameTable {
  width: 100%;
}

.title {
  font-weight: 400;
  font-size: rem(20px);
  line-height: rem(23px);
  color: #000000;
  text-align: center;
  padding: rem(13px 20px);
  background: #F7FF13;
}

.table {
  margin-bottom: rem(24px);
  background: linear-gradient(180deg, #0B0B0B 0%, #333333 100%);
}

.header {
  display: flex;
  background: rgba(255, 255, 255, 0.14);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.headerCell {
  padding: rem(18px 10px 17px);
  text-align: center;
  font-weight: 400;
  font-size: rem(20px);
  line-height: 1.15;
  color: #fff;
  white-space: nowrap;
  @media(max-width: 767.98px) {
    font-size: rem(18px);

  }

  &:nth-child(1) {
    width: rem(97px);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    @media(max-width: 767.98px) {
      width: rem(60px);
      padding: rem(18px 7.5px 19px 12px);
      text-align: left;

    }
  }

  &:nth-child(2) {
    flex-grow: 1;
  }
}

.row {
  //display: flex;
  background: rgba(255, 255, 255, 0.07);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-columns: rem(97px) 1fr 1fr 1fr;
  //gap: rem(10px);

  @media(max-width: 767.98px) {
    grid-template-columns: rem(60px) 1fr 1fr 1fr;
    .cell {
      &:first-child {
        width: rem(60px);
        padding-left: rem(13px);
      }
    }
  }
}

.cell {
  font-weight: 400;
  font-size: rem(18px);
  line-height: 1.1666;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: rem(5px);
  padding: rem(19px 15px 18px);
  @media(max-width: 767.98px) {
    font-size: rem(14px);
    padding: rem(16px 25px 10px 21px);
  }

  &.cellAccent {
    color: #F7FF13;
  }

  &:nth-child(1) {
    //width: rem(97px);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }

  //
  //&:nth-child(2) {
  //	padding-left: rem(43px);
  //	width: rem(220px);
  //	flex-grow: 1;
  //}
  //
  //&:nth-child(3) {
  //	padding: rem(11px 15px 10px);
  //	width: rem(150px);
  //}
  //
  //&:nth-child(4) {
  //	width: rem(200px);
  //}
}

.cellText {
  font-weight: 400;
  font-size: rem(14px);
  line-height: rem(16px);
  color: #fff;
  text-align: center;

  &.cellTextAccent {
    color: #F7FF13;
  }
}

.btnWrapper {
  text-align: center;
}

.btn {
  display: inline-block;
  background: #FAFE13;
  border-radius: rem(3px);
  padding: rem(12px 20px);
  font-weight: 700;
  font-size: rem(14px);
  line-height: rem(16px);
  text-align: center;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  min-width: rem(156px);
}