.areaHeader {
  color: #fff;
  margin-left: auto;
  @media(min-width:767.98px) {
    padding-left: 20px;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 20px;
    white-space: nowrap;

    @media(max-width:767.98px) {
      gap: 13px;
    }
  }

  &__icon {
    cursor: pointer;

    svg {
      fill: #808080;
      transition: .3s cubic-bezier(0.39, 0.575, 0.565, 1);
      vertical-align: middle;
    }

    &:hover {
      svg {
        fill: #b9b1b1;
      }
    }
  }

  &__infoTitle {
    font-size: 14px;
    max-width: 97px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @media(max-width:767.98px) {
      font-size: 12px;
      max-width: 87px;
    }
  }

  &__infoBottom {
    padding-top: 9px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    gap: 8px;
    align-items: flex-end;

    @media(max-width:767.98px) {
      font-size: 14px;
      padding-top: 8px;
      gap: 11px;
    }
  }

  &__btn {
    @media(max-width:767.98px) {
      font-size: 22px;
      width: 44px;
      height: 44px;
      line-height: 1;
      span {
        display: none;
      }
    }
  }
}