@import "sass-rem";

.statisticsOverview {
  width: 100%;
}

.wrapper {
  max-width: rem(1376px);
  padding: rem(26px 15px);
  margin: 0 auto;
  @media(max-width: 767.98px) {
    padding: rem(10px 0px);

  }
}

.tableLeagueWrapper {
  margin-bottom: rem(40px);
}

.overviewInfoWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(10px);
  margin-bottom: rem(24px);
}

.tableNextPrevGamesWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(10px);
  margin-bottom: rem(40px);
}
