@import 'sass-rem';
.nav {
	padding: rem(15px);
	display: flex;
	align-items: center;
	gap: rem(15px);
	justify-content: center;
}
.item {
	text-align: center;
	flex: 1;
	color: #666;
	font-size: 14px;
	font-style: italic;
	font-weight: 700;
	text-transform: uppercase;
	padding: rem(5px);
	border-radius: 30px;
	border: 1px solid #666;
	max-width: rem(111px);
	&.active {
		border-color: #f7ff13;
		color: #f7ff13;
	}
}
