@import "sass-rem";

.limitDeposit {
  padding-bottom: rem(30px);
}

.title {
  font-weight: 500;
  font-size: rem(24px);
  line-height: 1.166;
  color: #fff;
  margin-bottom: rem(24px);
  @media(max-width: 767.98px) {
    font-size: rem(20px);
    margin-bottom: rem(10px);
  }
}

.info {
  font-weight: 400;
  font-size: rem(20px);
  line-height: 1.15;
  color: #fff;
  margin-bottom: rem(40px);
  @media(max-width: 767.98px) {
    margin-bottom: rem(24px);
  }
}

.titleTwo {
  font-weight: 500;
  font-size: rem(24px);
  line-height: 1.166;
  color: #fff;
  margin-bottom: rem(15px);
  @media(max-width: 767.98px) {
    font-size: rem(20px);
    margin-bottom: rem(10px);
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: rem(10px);
}

.item {
  display: flex;
  align-items: center;
}

.itemLabel {
  box-sizing: border-box;
  display: inline-block;
  width: rem(190px);
  min-width: rem(190px);
  margin-right: rem(40px);
  padding-left: rem(46px);
  font-weight: 400;
  font-size: rem(18px);
  line-height: 1.166;
  color: rgba(255, 255, 255, 0.7);
  transition: .3s;
  cursor: pointer;
  position: relative;
  @media (max-width: 767.98px) {
    padding-left: rem(37px);
    margin-right: 0;
  }

  &:hover {
    color: #fff;
  }

  &:before {
    position: absolute;
    display: inline-block;
    content: "";
    width: rem(36px);
    height: rem(21px);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url("../../assets/images/svg/return-select-two.svg") no-repeat 50% 50% /contain;
    @media(max-width: 767.98px) {
      width: rem(32px);
    }
  }

  &:after {
    position: absolute;
    display: inline-block;
    content: "";
    width: rem(10px);
    height: rem(10px);
    border-radius: 50%;
    background: #B8B8B8;
    top: 50%;
    left: rem(6px);
    transform: translateY(-50%);
  }

  &.itemLabelActive {
    &:after {
      background: #fff;
      transform: translate(rem(12px), -50%);
    }
  }
}

.itemInput {
  display: inline-block;
  width: rem(150px);
  padding: rem(11px 12px);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: rem(14px);
  line-height: rem(16px);
@media(max-width: 767.98px){
  margin-left: auto;
}
  &:hover,
  &:focus {
    border-color: #fff;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}
