@import "sass-rem";

.bestMoments {
    width: 100%;
    padding: rem(20px 15px);
    background: #262626;
    position: relative;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem(18px);
    line-height: rem(21px);
    color: #fff;
    margin-bottom: rem(-30px);
}

.list {
    display: flex;
    gap: rem(10px);
    padding-top: rem(60px);
    margin-right: rem(-15px);
    position: relative;
}


.item {
    width: rem(198px);
    padding-right: rem(10px);
}

.link {
    display: flex;
    flex-direction: column;
    min-width: rem(188px);
    width: rem(188px);
    background: #000;
    border-radius: 12px;
    padding: rem(10px);
    color: #fff;

    &.soccet {
        background: #1D7E3A;
    }

    &.hockey {
        background: #0E7AFF;
    }

    &.basketball {
        background: #EA7E29;
        ;
    }

    &.tennis {
        background: #C9BF08;
    }
}

.linkTitle {
    font-size: rem(18px);
    line-height: 1.15;
    margin-bottom: rem(21px);

    @media(max-width:767.98px) {
        font-size: rem(14px);
    }
}

.linkTitleOne {
    display: inline-block;
    width: 100%;
    margin-bottom: rem(6px);


}

.live {
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem(14px);
    line-height: 1.15;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-left: rem(30px);
    position: relative;

    @media(max-width:767.98px) {
        font-size: rem(14px);
    }

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: rem(24px);
        height: rem(24px);
        transform: translateY(-50%);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        opacity: .6;
        transition: .3s;
        background-image: url("../../assets/images/svg/sports-best-live.svg");
    }
}