@import "sass-rem";

.mainSlider {
  max-width: rem(1442px);
  margin-bottom: rem(20px);

  @media(max-width: 768px) {
    display: none;
  }
}

.swiper {
  height: rem(519px);
  margin-bottom: rem(15px);
  position: relative;
  @media(max-width: 1199.98px) {
    height: rem(258px);
  }
}

.imgWrapper {
  height: rem(462px);
  position: relative;
  margin-bottom: rem(15px);
  @media(max-width: 1199.98px) {
    height: rem(206px);
    margin-bottom: rem(10px);
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: rem(3px);
    background: #262626;
    @media(max-width: 1199.98px) {
      display: none;
    }
  }
}

.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: 0 50%;

  @media(max-width: 1024px) {
    object-position: center;
  }
}

.infoWrapper {
  padding: 0 rem(52px);
}

.infoList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #F7FF13;
  height: rem(42px);
}

.infoItem {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 1px;
    height: rem(18px);
    background: #F7FF13;
    top: 50%;
    transform: translateY(-50%);
    left: -1px;
  }

  &:nth-child(1) {
    &:before {
      display: none;
    }
  }
}

.infoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: rem(16px);
  line-height: rem(19px);
  padding: rem(12px 12px 11px 12px);
  color: #fff;
  gap: rem(8px);
  text-transform: uppercase;
  transition: .3s;
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    right: -1px;
    width: calc(100% + 2px);
    transition: .3s;
    z-index: -1;
  }

  &.infoBtnActive {
    &:before {
      background: #F7FF13;
    }

    color: #000;

    & .infoName {
      color: #3D3D3D;
    }
  }
}

.infoName {
  color: #A3A3A3;
  white-space: nowrap;
  transition: .3s;
  @media(max-width: 1199.98px) {
    font-size: rem(15px);
  }
}

.infoCoefficient {
  font-weight: 700;
  transition: .3s;
  @media(max-width: 1199.98px) {
    font-size: 15px;
  }
}