@import "sass-rem";

.gameInfo {
  padding: rem(35px 15px 15px);
  background: #000;
  width: rem(332px);
  max-height: calc(100vh - #{rem(146px)});
  height: calc(100vh - #{rem(146px)});
  overflow-y: auto;
  z-index: 5;
  flex: 0 0 rem(332px);

  @media(max-width: 1200px) {
    display: none;
  }

  &::-webkit-scrollbar {
    width: rem(5px);
  }

  &::-webkit-scrollbar-track {
    background-color: #28293e;
    border-radius: rem(5px);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: rem(5px);
    background: #8b8b97;
  }
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: rem(40px);
}

.headerTitle {
  font-weight: 400;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #A3A3A3;
  margin-right: auto;
}

.checkboxLabel {
  display: block;
  width: rem(50px);
  height: rem(26px);
  background: #222222;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: rem(2px);
  cursor: pointer;
}

.checkbox {
  display: block;
  width: rem(22px);
  height: rem(22px);
  background: #383838;
  border-radius: 30px;
  transition: .3s;

  &:checked {
    background: #A3A3A3;
    transform: translateX(rem(24px));
  }
}

.listsWrapper {
  display: flex;
  flex-direction: column;
  gap: rem(43px);
}

.listTitle {
  width: 100%;
  padding-right: rem(20px);
  position: relative;
  font-weight: 700;
  font-size: rem(18px);
  line-height: rem(21px);
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: rem(12px);
    height: rem(6px);
    opacity: .6;
    transition: .3;
    transform: translateY(-50%);
    background: url("../../assets/images/svg/game-info-arrow.svg") no-repeat 50% 50% /contain;
  }

  &[aria-expanded='true']::before {
    transform: rotate(180deg);
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: rem(15px);
  padding-top: rem(25px);
}

.item {
  display: flex;
  width: 100%;
}

.itemTextWrapper {
  max-width: rem(220px);
  position: relative;
  margin-right: auto;

  &.itemTextWrapperLive {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      right: rem(-13px);
      width: rem(6px);
      height: rem(6px);
      border-radius: 50%;
      background: #D60019;
      transform: translateY(-50%);
    }
  }

  &.germany {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      right: rem(-31px);
      width: rem(24px);
      height: rem(16px);
      transform: translateY(-50%);
      background: url("../../assets/images/svg/game-info-germany.svg") no-repeat 50% 50% /contain;
    }
  }
}

.itemText {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #A3A3A3;
}

.itemCount {
  font-weight: 400;
  font-size: rem(16px);
  line-height: rem(19px);
  text-align: right;
  color: #A3A3A3;
}