.promotions {
  max-width: rem(1460px);
  width: 100%;
  padding: rem(0 20px);
  margin: 0 auto;

  @media(max-width: 767.98px) {
    padding: 0;
  }
}

.events {
  &__aside,
  &__menu {
    @media(max-width: 1199.98px) {
      display: none;
    }
  }
}

.game-wrapper {
  width: rem(1110px);
  //height: calc(100vh - #{rem(146px)});
  //max-height: calc(100vh - #{rem(146px)});
  overflow-y: auto;
}

.column-left {
  &--profile {
    min-width: rem(390px);
    max-width: rem(390px);
    width: rem(390px);
    position: relative;

    @media(max-width: 991.98px) {
      width: 100%;
      max-width: none;
      min-width: auto;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      background: #151515;
      right: rem(-16px);
    }
  }

  &--requests {
    min-width: rem(390px);
    max-width: rem(390px);
    width: rem(390px);
    position: relative;

    @media(max-width: 800px) {
      min-width: auto;
      max-width: none;
      width: 100%;

    }
  }
}

.column-right {

  &--requests,
  &--profile {
    width: 100%;
    //overflow-x: hidden;
    padding-right: rem(10px);

    @media(max-width: 768px) {
      padding-right: 0;
    }
  }

  &--requests {
    @media(max-width: 800px) {
      overflow: initial;
    }
  }
}

.game-page {
  &__game-info {
    @media(max-width: 1365px) {
      display: none;
    }
  }

  &__menu {
    @media(max-width: 767.98px) {
      display: none;
    }
  }

  &__stream {
    @media(max-width: 1199.98px) {
      display: none;
    }
  }

  &__game-banner {
    @media(max-width: 1199.98px) {
      display: none;
    }
  }
}