.game-wrapper {
    width: rem(1110px);
    height: calc(100vh - #{rem(146px)});
    max-height: calc(100vh - #{rem(146px)});
    overflow-y: auto;
}

.column-left {
    &--profile {
        min-width: rem(390px);
        max-width: rem(390px);
        width: rem(390px);
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1px;
            background: #151515;
            right: rem(-16px);
        }
    }

    &--requests {
        min-width: rem(390px);
        max-width: rem(390px);
        width: rem(390px);
        position: relative;
    }
}

.column-right {
    &--requests,
    &--profile {
        width: 100%;
        overflow-x: hidden;
        padding-right: rem(10px);
    }
}
