@import 'sass-rem';

.search {
  position: fixed;
  display: none;
  top: 0;
  background: rgba(0, 0, 0, 0.90);
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  @media(max-width:767.98px) {
    z-index: 7;
  }

  &__inner {
    padding: rem(146px 114px 20px);

    @media(max-width:767.98px) {
      padding: rem(70px 0 0);
    }
  }

  &__item {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%), rgba(255, 255, 255, 0.07);
    max-width: rem(1420px);
    margin: 0 auto;

    @media(max-width:767.98px) {
      background: linear-gradient(90deg, #262626 0%, #1A1A1A 56.77%, #000 100%);
      border: none;
    }

    &.isFocus {
      border-color: #fff;
    }
  }

  input {
    color: #898989;
    font-size: rem(24px);
    padding: rem(20px 20px 20px 74px);
    width: 100%;

    @media(max-width:767.98px) {
      font-size: rem(16px);
      padding-left: rem(59px);
    }
  }

  &__btn {
    position: absolute;
    left: rem(30px);
    width: rem(24px);
    height: rem(24px);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    color: #898989;
    transition: .2s ease-out;

    @media(max-width:767.98px) {
      width: rem(16px);
      height: rem(16px);
    }

    &:hover {
      color: #fff;
    }

    svg {
      width: inherit;
      height: inherit;
    }
  }
}