@import "sass-rem";

.tableLeague {
  //background: linear-gradient(180deg, #0B0B0B 0%, #333333 100%);
}

.tableBody {
  overflow-y: hidden;
  overflow-x: auto;

}

.title {
  padding: rem(14px 20px 13px);
  font-weight: 500;
  font-size: rem(20px);
  line-height: rem(23px);
  color: #000;
  background: #F7FF13;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
}

.header {
  display: flex;
  //background: rgba(255, 255, 255, 0.14);
  background: #333;
  position: relative;
  padding: rem(0 22px);
  height: rem(58px);
  align-items: center;

  @media(max-width: 1100px) {
    //width: fit-content;
  }
}

.headerCell,
.cell {
  font-weight: 400;
  font-size: rem(18px);
  line-height: 1.166;
  color: #fff;
  //padding: rem(19px 5px 18px);
  padding: rem(9px 5px 7px);
  //white-space: nowrap;
  //overflow: hidden;
  //text-overflow: ellipsis;
  //background: rgba(255, 255, 255, 0.14);
  @media(max-width: 767.98px) {
    font-size: rem(14px);
  }

  &:nth-child(1) {
    flex: 0 0 rem(115px);
    width: rem(115px);
    //flex-grow: 1;
    @media(max-width: 1024px) {
      width: rem(50px);
      flex: 0 0 rem(50px);
      //flex-grow: 1;
    }
  }

  &:nth-child(2) {

    //border-right: 1px solid rgba(255, 255, 255, 0.3);
    width: rem(168px);
    flex: 0 0 rem(168px);
    position: relative;
    flex-grow: 1;

    &::after {
      position: absolute;
      content: '';
      right: -1px;
      top: -50%;
      height: 200%;
      width: rem(1px);
      background-color: #656565;
    }

    @media(max-width: 1250px) {
      flex-grow: 0;
    }
    @media(max-width: 1024px) {
      padding-left: rem(30px);
      flex: 0 0 rem(145px);
      flex-grow: 1;
    }
    @media(max-width: 767.98px) {
      padding-left: rem(19px);
      flex: 0 0 rem(110px);
      //flex-grow: 1;
    }
  }

  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5) {
    width: rem(55px);
    text-align: center;
    @media(max-width: 1200px) {
      width: rem(32px);
      flex: 0 0 rem(32px);
    }
  }

  &:nth-child(6),
  &:nth-child(7) {
    width: rem(100px);
    flex: 1 0 rem(100px);
    @media(max-width: 767.98px) {
      flex: 0 0 75px;
    }
  }

  &:nth-child(8) {
    width: rem(210px);
    flex: 1 0 rem(210px);
    @media(max-width: 1250px) {
      width: rem(135px);
      flex: 1 0 rem(135px);
    }
    @media(max-width: 767.98px) {
      flex: 0 0 rem(100px);
    }
  }

  &:nth-child(9) {
    width: rem(60px);
    flex: 1 0 rem(60px);
    @media(max-width: 767.98px) {
      flex: 0 0 rem(60px);
    }
  }

  &:nth-child(10) {
    width: rem(50px);
    flex: 0 0 rem(50px);
    flex-grow: 1;
  }

  &:nth-child(11) {
    width: rem(220px);
    @media(max-width: 1250px) {
      width: rem(202px);
    }
  }

  &.cellNumber {
    position: relative;
    padding-left: rem(20px);
    @media(max-width: 1024px) {
      padding-left: rem(15px);
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: rem(5px);
      height: rem(30px);
      transform: translateY(-50%);
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: rem(55px);
      width: rem(18px);
      height: rem(18px);
      transform: translateY(-50%);
      background: url("../../assets/images/svg/statistics-zero.svg") no-repeat 50% 50% /contain;
      @media(max-width: 1024px) {
        width: rem(16px);
        height: rem(16px);
        right: 0;
      }
    }
  }

  &.cellUpp {
    &:after {
      background-image: url("../../assets/images/svg/statistics-arrow-up.svg");
    }
  }

  &.cellDown {
    &:after {
      background-image: url("../../assets/images/svg/statistics-arrow-down.svg");
    }
  }

  &.cellPlayoff {
    &:before {
      background: #1D7E3A;
    }
  }

  &.cellQualification {
    &:before {
      background: #D60019;
    }
  }

  &.cellForms {
    display: flex;
    padding: rem(14px 0);
  }
}

.headerCell {
  @media(max-width: 1250px) {
    &:nth-child(2) {
      &::after {
        //right: rem(-2px);
      }
    }
  }
}

.row {
  display: flex;
  padding: rem(0 22px);
  background: #232323;
  //align-items: center;
  min-height: rem(58px);
  //border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;

  &::after {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    content: '';
    height: rem(1px);
    z-index: 1;
    background: #707070;
  }

  @media(max-width: 1250px) {

    padding: rem(0 8px 0 22px);
  }
  @media(max-width: 1100px) {
    //width: fit-content;

  }

  .cell:last-child {

    position: relative;

    &::after {
      position: absolute;
      left: 100%;
      top: 0;
      width: rem(12px);
      height: 100%;
      content: '';
      background: inherit;
    }
  }
}

.forms {
  display: flex;
  gap: rem(10px);
  overflow: hidden;
  padding-left: rem(15px);
  background: url("../../assets/images/svg/statistics-arrow.svg") no-repeat 0% 50%;
  background-size: rem(300px) rem(16px);
}

.form {
  width: rem(30px);
  height: rem(30px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;

  &.formWin {
    color: #000;
    background: #F7FF13;
  }

  &.formLoss {
    color: #fff;
    background: #1D7E3A;
  }
}

.btnWrapper {
  margin-top: rem(24px);
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  background: #FAFE13;
  border-radius: rem(3px);
  padding: rem(12px 20px);
  font-weight: 700;
  font-size: rem(14px);
  line-height: rem(16px);
  text-align: center;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  min-width: rem(156px);
}

.info {
  margin-top: rem(24px);
  @media(max-width: 767.98px) {
    margin: rem(16px 12px 0);
  }
}

.infoText {
  font-weight: 400;
  font-size: rem(18px);
  line-height: 1.166;
  color: #fff;
  margin-bottom: 2px;
  @media(max-width: 767.98px) {
    font-size: rem(16px);
    &:first-child {
      margin-bottom: rem(10px);
    }
  }
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: rem(10px);
  margin-top: rem(14px);
  @media(max-width: 767.98px) {
    margin-top: rem(22px);
  }
}

.infoItem {
  display: flex;
  align-items: center;
  height: rem(30px);
  padding-left: rem(15px);
  position: relative;
  font-weight: 400;
  font-size: rem(18px);
  line-height: rem(21px);
  color: #fff;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: rem(5px);
  }

  &:nth-child(1) {
    &:before {
      background: #1D7E3A;
    }
  }

  &:nth-child(2) {
    &:before {
      background: #D60019;
    }
  }
}

.cell {
  background: #232323;
  height: inherit;
  display: flex;
  align-items: center;
  //margin-left: rem(-1px);
  border-bottom: 1px solid #707070;
  @media(max-width: 767.98px) {

    border-right: 1px solid #232323;
  }
}

.headerCell {
  background: #333;
  height: inherit;
  display: flex;
  align-items: center;
}
