@import 'sass-rem';

.statisticsTables {
	width: 100%;
}

.wrapper {
	max-width: rem(1376px);
	padding: rem(25px 15px 50px);
	margin: 0 auto;
	@media (max-width: 1199.98px) {
		padding: rem(42px 0 26px);
	}
	@media (max-width: 767.98px) {
		padding-top: 0;
	}
}

.tableLeagueWrapper {
	margin-bottom: rem(40px);
	@media (max-width: 767.98px) {
		margin-bottom: rem(24px);
	}
}
