@import "sass-rem";

.tableCalendar {
    width: 100%;
}

.title {
	padding: rem(15px 20px 14px);
	text-align: center;
	background: rgba(247, 255, 19, 0.15);
	font-weight: 700;
	font-size: rem(18px);
	line-height: rem(21px);
	color: #FFFFFF;
}

.wrapper {
	padding: rem(25px);
}

.filterWrapper {
	background: #F7FF13;
	display: flex;
	justify-content: center;
	gap: rem(20px);
	padding: rem(5px);
}

.filterBtn {
	font-weight: 400;
	font-size: rem(20px);
	line-height: rem(23px);      
	color: #0B0B0B;
	padding: rem(10px 150px);
	position: relative;
	cursor: pointer;

	&:before {
		opacity: 0;
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: rem(6px);
		background: #1D7E3A;
		border-radius: rem(4px);
		transition: .3s;
	}

	&:hover,
	&.filterBtnActive {
		&:before {
			opacity: 1;
		}
	}
}

.roundWrapper {
	background: #252603;
	display: flex;
	justify-content: center;
	gap: rem(30px);
	padding: rem(5px 10px 8px);
}

.roundBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(30px);
	font-weight: 400;
	font-size: rem(20px);
	line-height: rem(23px);      
	color: #fff;
	padding: rem(10px 5px 5px);
	position: relative;
	cursor: pointer;

	&:before {
		opacity: 0;
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: rem(3px);
		background: #1D7E3A;
		border-radius: rem(4px);
		transition: .3s;
	}

	&:hover,
	&.roundBtnActive {
		&:before {
			opacity: 1;
		}
	}
}

.name {
	background: #F7FF13;
	padding: rem(14px 35px 13px);
	font-weight: 400;
	font-size: rem(20px);
	line-height: rem(23px);
	color: #000;
}

.header {
	display: flex;
	align-items: center;
	background: rgba(255, 255, 255, 0.14);
	padding: rem(0 16px);
}

.headerCell {
	font-weight: 700;
	font-size: rem(20px);
	line-height: rem(23px);
	color: #fff;
	padding: rem(17px 10px 18px);

	&:nth-child(1) {
		width: rem(100px);
		font-weight: 400;
		font-size: rem(18px);
		line-height: rem(21px);
	}

	&:nth-child(2) {
		height: rem(58px);
		border-left: 1px solid rgba(255, 255, 255, 0.3);
		border-right: 1px solid rgba(255, 255, 255, 0.3);
		flex-grow: 1;
	}

	&:nth-child(3),
	&:nth-child(4),
	&:nth-child(5),
	&:nth-child(6),
	&:nth-child(7),
	&:nth-child(8) {
		padding-left: rem(23px);
		padding-right: rem(23px);
		width: rem(140px);
	}
}

.row {
	display: flex;
	align-items: center;
	background: rgba(255, 255, 255, 0.07);
	padding: rem(0 16px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.cell {
	font-weight: 400;
	font-size: rem(18px);
	height: rem(21px);
	color: #fff;
	padding: rem(17px 10px 18px);
	min-height: rem(58px);

	&.cellEmpty {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: rem(23px);
			top: 50%;
			width: rem(20px);
			height: 1px;
			background: #fff;
			transform: translateY(-50%);
		}
	}

	&:nth-child(1) {
		width: rem(100px);
	}

	&:nth-child(2) {
		display: flex;
		align-items: center;
		border-left: 1px solid rgba(255, 255, 255, 0.3);
		border-right: 1px solid rgba(255, 255, 255, 0.3);
		flex-grow: 1;
		padding-left: rem(100px);
		padding-right: rem(30px);
		gap: rem(20px);
		justify-content: space-between;
	}

	&:nth-child(3),
	&:nth-child(4),
	&:nth-child(5),
	&:nth-child(6),
	&:nth-child(7),
	&:nth-child(8) {
		padding-left: rem(23px);
		padding-right: rem(23px);
		width: rem(140px);
	}
}

.cellName {
	display: inline-block;
	width: rem(220px);
}

.cellScore {
	display: inline-block;
	width: rem(100px);
	text-align: center;

	&.cellScoreEmpty {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			width: rem(20px);
			height: 1px;
			background: #fff;
			transform: translate(-50%, -50%);
		}
	}
}
