@import 'sass-rem';

.tableCalendar {
	width: 100%;
}

.title {
	padding: rem(15px 20px 14px);
	text-align: center;
	background: rgba(247, 255, 19, 0.15);
	font-weight: 700;
	font-size: rem(18px);
	line-height: 1.166;
	color: #fff;
}

.wrapper {
	padding: rem(25px);
	@media (max-width: 1199.98px) {
		padding: rem(46px 0 0);
	}
}

.filterWrapper {
	background: #f7ff13;
	display: flex;
	justify-content: center;
	gap: rem(20px);
	padding: rem(5px);
}

.filterBtn {
	font-weight: 400;
	font-size: rem(20px);
	line-height: 1.15;
	color: #0b0b0b;
	padding: rem(10px 43px);
	position: relative;
	cursor: pointer;

	&:before {
		opacity: 0;
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: rem(6px);
		background: #1d7e3a;
		border-radius: rem(4px);
		transition: 0.3s;
	}

	&:hover,
	&.filterBtnActive {
		&:before {
			opacity: 1;
		}
	}
}

.roundWrapper {
	background: #252603;
	display: flex;
	justify-content: center;
	gap: rem(30px);
	padding: rem(5px 10px 8px);
	@media (max-width: 1199.98px) {
		padding: rem(12px);
	}
}

.roundBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(30px);
	font-weight: 400;
	font-size: rem(20px);
	line-height: 1.15;
	color: #fff;
	padding: rem(10px 5px 5px);
	position: relative;
	cursor: pointer;
	@media (max-width: 1199.98px) {
		padding: rem(2px);
		height: rem(25px);
		width: auto;
	}
	&:before {
		opacity: 0;
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: rem(3px);
		background: #1d7e3a;
		border-radius: rem(4px);
		transition: 0.3s;
	}

	&:hover,
	&.roundBtnActive {
		&:before {
			opacity: 1;
		}
	}
}

.name {
	background: #f7ff13;
	padding: rem(14px 35px 13px);
	font-weight: 400;
	font-size: rem(20px);
	line-height: 1.15;
	color: #000;
}

.header {
	display: grid;
	grid-template-columns: rem(126px) 1fr rem(680px);
	padding: rem(0 16px);
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.07) 0%,
			rgba(255, 255, 255, 0.07) 100%
		),
		linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.07) 0%,
			rgba(255, 255, 255, 0.07) 100%
		),
		rgba(255, 255, 255, 0.07);
	@media (max-width: 1199.98px) {
		padding: rem(0 11px);
		grid-template-columns: rem(67px) 1fr rem(480px);
	}
	@media (max-width: 991.98px) {
		padding: rem(0 6px);
		grid-template-columns: minmax(27px, 4%) 47% 47%;
	}
}

.headerCell {
	font-weight: 700;
	font-size: rem(20px);
	line-height: 1.15;
	color: #fff;
	padding: rem(18px 10px);
	@media (max-width: 991.98px) {
		padding: rem(17px 7px);
		font-size: rem(14px) !important;
		display: flex;
		align-items: center;
		padding: rem(17px 0) !important;
		&__empty {
			//display: none;
		}
	}

	&__right {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		flex: 0 1 rem(680px);
		justify-items: center;
		.headerCell {
			padding: rem(17px 10px 18px);
			width: auto !important;
			&:nth-child(1) {
				font-size: rem(20px);
				font-weight: 700;
			}
		}
	}
	&:nth-child(1) {
		//width: rem(100px);
		font-size: rem(18px);
		font-weight: 400;
		padding-left: rem(20px);
		@media (max-width: 1199.98px) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&:nth-child(2) {
		height: rem(58px);
		//border-left: 1px solid rgba(255, 255, 255, 0.3);
		//border-right: 1px solid rgba(255, 255, 255, 0.3);
		flex-grow: 1;
	}

	&:nth-child(3),
	&:nth-child(4),
	&:nth-child(5),
	&:nth-child(6),
	&:nth-child(7),
	&:nth-child(8) {
		padding-left: rem(23px);
		padding-right: rem(23px);
		width: rem(140px);
	}
}

.row {
	display: grid;
	grid-template-columns: rem(126px) 1fr rem(680px);
	padding: rem(0 16px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.07) 0%,
			rgba(255, 255, 255, 0.07) 100%
		),
		rgba(255, 255, 255, 0.07);
	@media (max-width: 1199.98px) {
		grid-template-columns: rem(67px) 1fr rem(480px);
		border: none;
	}
	@media (max-width: 991.98px) {
		grid-template-columns: minmax(27px, 4%) 47% 47%;
		padding: rem(0 6px);
	}
}

.cell {
	font-weight: 400;
	font-size: rem(18px);
	//height: rem(21px);
	color: #fff;
	padding: rem(17px 10px 18px);
	min-height: rem(58px);
	display: flex;
	align-items: center;
	@media (max-width: 991.98px) {
		min-height: auto;
		font-size: rem(12px);
		padding: rem(11px 0);
	}
	&__right {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		justify-items: center;
		.cell {
			padding: rem(17px 10px 18px) !important;
			width: auto !important;
			border: none !important;
			@media (max-width: 991.98px) {
				padding: rem(11px) 0 !important;
			}
		}
	}
	&.cellEmpty {
		//position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		&:before {
			content: '';
			display: flex;
			align-items: center;
			justify-content: center;
			//position: absolute;
			//left: rem(23px);
			//top: 50%;
			width: rem(20px);
			height: 1px;
			background: #fff;
			//transform: translateY(-50%);
			@media (max-width: 991.98px) {
				width: rem(16px);
			}
		}
	}

	&:nth-child(1) {
		width: rem(100px);
		flex: 0 0 rem(123px);
		padding-left: rem(20px);
		@media (max-width: 1199.98px) {
			padding-left: rem(7px);
			width: rem(67px);
		}
		@media (max-width: 991.98px) {
			width: rem(27px);
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}

	&:nth-child(2) {
		display: flex;
		align-items: center;
		border-left: 1px solid rgba(255, 255, 255, 0.3);
		border-right: 1px solid rgba(255, 255, 255, 0.3);
		flex-grow: 1;
		padding-left: rem(8px);
		padding-right: rem(30px);
		gap: rem(20px);
		//justify-content: space-between;
		justify-content: flex-end;
		@media (max-width: 1199.98px) {
			gap: 0;
			border: none;
		}
		@media (max-width: 991.98px) {
			justify-content: center;
			padding-right: 0;
		}
	}

	&:nth-child(3),
	&:nth-child(4),
	&:nth-child(5),
	&:nth-child(6),
	&:nth-child(7),
	&:nth-child(8) {
		padding-left: rem(23px);
		padding-right: rem(23px);
		width: rem(140px);
	}
}

.cellName {
	display: inline-block;
	max-width: rem(220px);
	width: 100%;
	@media (max-width: 991.98px) {
		max-width: rem(80px);
		min-width: rem(62px);
	}
}

.cellScore {
	display: inline-block;
	max-width: rem(100px);
	width: 100%;
	text-align: center;
	@media (max-width: 1199.98px) {
		max-width: rem(60px);
	}
	@media (max-width: 991.98) {
		max-width: rem(30px) !important;
	}
	&.cellScoreEmpty {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			width: rem(20px);
			height: 1px;
			background: #fff;
			transform: translate(-50%, -50%);
			@media (max-width: 991.98px) {
				width: rem(9px);
			}
		}
	}
}
